<?php
/**
 * Magiccart 
 * @category    Magiccart 
 * @copyright   Copyright (c) 2014 Magiccart (http://www.magiccart.net/) 
 * @license     http://www.magiccart.net/license-agreement.html
 * @Author: DOng NGuyen<nguyen@dvn.com>
 * @@Create Date: 2014-08-08 22:57:12
 * @@Modify Date: 2015-09-21 22:49:03
 * @@Function:
 */
 ?>
<?php
    $_productCollection=$this->getLoadedProductCollection();
    $_helper = $this->helper('catalog/output');
    $helpLabels = $this->helper('alothemes/labels');
    // $helpTimer  = $this->helper('alothemes/timer'); $num = 1;
?>

<div class="mage-magictabs mc-<?php echo $this->getType();?>">
    <div class="row">
    <div class="col-xs-12 col-sm-4 trademark-info">
        <div class="brand-info">
            <div class="brand-description"><?php echo $this->getDescription(); ?></div>
            <a class="trademark-link" href="<?php echo $this->getUrl() .$this->getBrand()->getUrlkey(); ?>">
			<?php echo $this->__('Shop this theme'); ?>
			</a>       
        </div>
    </div>
    <div class="col-xs-12 col-sm-8 trademark-product">
   
    <?php if(!$_productCollection->count()): ?>
    <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
    <?php else: ?>
    <?php 
        $config = $this->getWidgetCfg(); 
        $width  = $config['widthImages'];
        $height = $config['heightImages'];
        $actions = isset($config['action']) ? explode(',', $config['action']) : array();
    ?>
    <?php $_collectionSize = $_productCollection->count() ?>
	<?php $count_limit = $_collectionSize ?>
    <?php $_rowCount = isset($config['rows']) ? $config['rows'] : 1; //$this->getColumnCount(); ?>
    <?php $j=0; $time = isset($config['productDelay']) ? $config['productDelay'] : 0; ?>
    <?php $tag = ($_rowCount >1) ? 'div' : 'ul'; ?>
    <<?php echo $tag ?> class="flexisel-content products-grid <?php echo $this->getType();?> zoomOut play">
	<?php $count = 1; ?>
    <?php $i=0; foreach ($_productCollection as $_product): ?>
	<!--------------Out odf stock products disables------------------------------>
		<?php if($_product->isSaleable()): ?>
		<?php $count = $count + 1; ?>
	<!--------------------------------------------------------------------------->
        <?php //if ($_rowCount > 1 && $i++%$_rowCount==0): ?>
		<?php if ($_rowCount > 1 && $i++%$_rowCount==0): ?>
		
            <ul class="products-grid-rows">
        <?php endif ?>
            <?php $t = $j*$time; $t .='ms'; $j++; ?>

                <li style="<?php echo "-webkit-animation-delay:$t;-moz-animation-delay:$t;-o-animation-delay:$t;animation-delay:$t" ?>;" class="item item-animate">
                    <div class="per-product clearfix">
                        <div class="images-container">
						    <div class="product-hover">
								<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
									<img class="img-responsive" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($width , $height); ?>" width="<?php echo $width ?>" height="<?php echo $height ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
									
									<?php $imagehv = $_product->load('media_gallery')->getMediaGalleryImages()->getItemByColumnValue('position','2');
									if($imagehv): $imagehv = $imagehv->getFile();
									?>
										<span class="product-img-back">
											<img class="img-responsive" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image', $imagehv)->resize($width , $height); ?>" width="<?php echo $width ?>" height="<?php echo $height ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
										</span>
									<?php endif ?>
							    </a>
							</div>
                            <?php if($actions): ?>
                             <div class="actions-no hover-box">
								<div class="actions">
									<ul class="add-to-links pull-left-none">
                                       <?php if(in_array("wishlist", $actions)):?>
                                            <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                                <li class="pull-left-none"><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" title="<?php echo $this->__('Add to Wishlist') ?>" class="link-wishlist"><i class="fa fa-heart-o icons"></i><?php echo $this->__('Add to Wishlist') ?></a></li>
                                            <?php endif; ?>
                                        <?php endif; ?>
                                    </ul>
								</div>
                             </div>
                             <?php endif ?>
                        </div>
                        <div class="products-textlink clearfix">
                            <h2 class="product-name">
                                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a>
                            </h2>
                            <?php echo $this->getPriceHtml($_product, true) ?>
                            <?php if(in_array("review", $actions)):?>
                               <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                            <?php endif ?>

                            <?php if($actions): ?>
                                <div class="actions">
                                    <?php if(in_array("cart", $actions)):?>
                                        <?php if($_product->isSaleable()): ?>
                                            <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                                        <?php else: ?>
                                            <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                 </div>
                             <?php endif ?>
    				    </div>
                    </div>    
                </li>
            <?php if ($_rowCount > 1 && $i%$_rowCount==0 || $i==$_collectionSize): ?>
                </ul>
		<!--------------------------------Out od stock product disabled end----------------->
			
			<?php endif ?>
			
		<!---------------------------------------------------------------------------------->
            <?php endif ?>
			<?php //echo $count; ?>
			<?php if($count > 4) break; ?>
        <?php endforeach ?>
		
    </<?php echo $tag; ?>>
<?php endif; ?>
</div>
</div>
</div>


