<?php if ($this->canShowBlock()): ?> 
    <?php if (!$this->getRequest()->isAjax()): ?>
    <div id="layered-navigation">
    <?php endif; ?>
    <div class="block block-layered-nav<?php if (!$this->getLayer()->getState()->getFilters()): ?> block-layered-nav--no-filters<?php endif; ?>">
        <div class="block-title">
            <strong><span><?php echo $this->__('Filter By') ?></span></strong>
           <?php echo $this->getChildHtml('amenu') ?>
        </div>
        <div class="block-content toggle-content" style="display:block">
            
            <?php echo $this->getStateHtml() ?>
            <?php if ($this->getLayer()->getState()->getFilters()): ?>
                <div class="actions"><a href="<?php echo $this->getClearUrl() ?>"><?php echo $this->__('Clear All') ?></a></div>
            <?php endif; ?>
            <?php if($this->canShowOptions()): ?>
                <p class="block-subtitle block-subtitle--filter"><?php echo $this->__('Filter') ?></p>
                <dl id="narrow-by-list">
                    <?php $_filters = $this->getFilters() ?>
                    <?php $i=0; $m=0;?>
                    <?php foreach ($_filters as $_filter): ?>
                        <?php if($_filter->getItemsCount()): ?>
                           <?php 
                                $tt = $this->__($_filter->getName());
								                              
                                if(($tt == 'Category') || ($tt=='Price') || ($tt=='Size')) {} else {
                                    if($m==0) {
                                        echo "<div class='theme_title'><span id='info' class='theme_custom_title'>Theme</span></div>";
                                        $m=1;
																	
                                    }else {}
                                    
                                }
								$i++;
                            ?>
							<?php if($tt == 'Category') { } 
							else if($tt == 'Price') { ?>
								<dt><?php echo $this->__($_filter->getName()) ?></dt>
								<dd><?php echo $_filter->getHtml() ?></dd>
								<script>
									$.noConflict();
											// Code that uses other library's $ can follow here.
								</script>
							<?php } else { ?>
                            <dt <?php if($m==1) { ?> class="sub_title theme_title"  <?php } else { ?> class="theme_title" <?php } ?> data-toggle="collapse" data-target="#fltr_ol<?php echo $i; ?>" id="fltr_title<?php echo $i; ?>" onclick="toogle(this.id)">
							<span id="info"><?php echo $this->__($_filter->getName()) ?></span></dt>
							
                            <dd <?php if($m==1) { ?> class="sub_cont collapse"  <?php } else {?> class="collapse" <?php } ?>   id="fltr_ol<?php echo $i; ?>" style="display:block;"><?php echo $_filter->getHtml() ?></dd>
                            <?php } ?>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </dl>
                <script type="text/javascript">decorateDataList('narrow-by-list')
                
        var currentPageId = '';
           if (jQuery('fltr_title4'+currentPageId).is('dt')) {
           jQuery('fltr_title4'+currentPageId).addClass('active');
        }
    </script>

                </script>
            <?php endif; ?>
        </div>
    </div>
    <?php if (!$this->getRequest()->isAjax()): ?>
    </div>
    <?php endif; ?>
<?php endif; ?>


