/* mini cart */

.miniCartWrap{vertical-align:top; background-color:#fff;}

.content-cart{padding:0;margin-left: -15px;margin-right: -15px;}

.cartSummary{border: 1px solid #eaeaea;display: block;height: 41px;padding: 2px 41px 0 15px;position: relative;width: 100%;}

@media screen and (-webkit-min-device-pixel-ratio:0){

.cartSummary{padding: 4px 41px 0 15px;}

}

.cartSummary:after {background: #ff3366 url("../images/cart.png") no-repeat scroll center center;content: "";height: 41px;position: absolute;right: -1px;top: -1px;width: 41px;cursor: pointer;}

.cartSummary:hover:after{opacity: 0.8;}

.mini-maincart{position:relative;z-index:30;margin: 30px 0 0;}

.cart-header{line-height: normal;}

.mini-maincart .mini-contentCart{position:absolute;right:0;top:50px;width:300px;line-height:30px;padding:20px;-webkit-box-shadow: 0px 4px 7px 0px rgba(50, 50, 50, 0.2);-moz-box-shadow: 0px 4px 7px 0px rgba(50, 50, 50, 0.2);box-shadow: 0px 4px 7px 0px rgba(50, 50, 50, 0.2);}

.mini-maincart .mini-contentCart p.empty{margin:0;cursor: text;}

.mini-contentCart .mini-products-list{margin:0;padding:0;}

.mini-contentCart .item .product-details .product-name{line-height: 10px;font-size: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;height: 20px;line-height: 20px;}

/*.crat-icon .zero,.crat-icon .item{padding:0px;z-index: 2;position: absolute;width: 32px;height: 22px ;line-height: 17px;text-align: center;background-image: url("../images/notify.png");background-position: 0 0;background-repeat: no-repeat;right: 25px;top: -8px;}*/
.crat-icon .zero,.crat-icon .item{padding:0px;z-index: 2;position: absolute;width: 28px;height: 25px ;text-align: center;    border-radius: 20px;background: #009966;right: 25px;top: -8px;}

.cartSummary .icon-cart{padding:0px;font-size:30px;line-height: 30px;}

.cartSummary .mt-cart-title{text-transform: uppercase;line-height: normal;margin: 0px;vertical-align: top; font-weight: bold;}

.mini-contentCart .subtotal{clear:both;display:block;padding:10px 0;margin:0;}

.mini-contentCart .subtotal .label{color:#333;font-size:14px;padding: 10px 0;}

.mini-contentCart .subtotal .price{color:#999;font-size: 18px;float: right;}

/*.mini-contentCart .actions a{border:0px solid #aaaaaa;color:#666;text-decoration:none;font-size:11px;line-height:35px;padding:0 17px;display:inline-block;margin:5px 0px; text-transform: uppercase;transition:all 500ms ease-in-out 0s;-moz-transition:all 500ms ease-in-out 0s;-webkit-transition:all 500ms ease-in-out 0s;-o-transition:all 500ms ease-in-out 0s;}*/

.mini-contentCart .actions a{border:0px solid #ff5555;color:#fff;text-decoration:none;font-size:11px;line-height:35px;padding:0 17px;display:inline-block;margin:5px 0px; text-transform: uppercase;transition:all 500ms ease-in-out 0s;-moz-transition:all 500ms ease-in-out 0s;-webkit-transition:all 500ms ease-in-out 0s;-o-transition:all 500ms ease-in-out 0s;}

/**************************************************************************/
.mini-contentCart .actions a{
	/*background-color:#d82428;*/
	background-color:#ff3366;
}

.mini-contentCart .actions a:hover{background-color:#d82428;color: #fff;}

.mini-contentCart .actions a.checkout{background-color:#ff3366;color: #fff;border:0px solid #ff5555;float: right;}

.mini-contentCart .actions a.checkout:hover{ opacity: 0.8;}

#miniMagiccart .item:hover{background-color:#dddddd}

#miniMagiccart a.btn-remove,a.btn-edit,a.btn-remove{float:none;margin:0;display: inline-block;vertical-align: top;}

.mini-contentCart .block-content .block-subtitle{margin:0;text-transform: uppercase;}

#toPopup .countDown {background: #eee none repeat scroll 0 0;border-left: 1px solid #eaeaea;border-bottom: 1px solid #eaeaea;display: inline-block;font-size: 11px;font-weight: bold;height: 20px;line-height: 20px;width: 20px; position: absolute;top: 0;right: 0;}

#toPopup .response p{padding: 0 14px 0 0;}

/*popup*/

#toPopup{background:none repeat scroll 0 0 #FFFFFF;box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);-o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);-ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);border:0 solid #ccc;color:#333333;font-size:13px;position:fixed;top:30%;left:40%;width:300px;z-index:999999;padding:10px;text-align: center;}

#popupAjaxcart .label,#popupAjaxcart .availability span{font-weight:300}

/* option cart */

#toPopup .input-box{margin:10px 0 10px}

#toPopup label.required em{color:#eb340a}

#toPopup .action-cart{margin:20px 0 15px 0}

#toPopup .action-cart .button{margin:0 5px;}

/* overlay loading */

#popupAjaxcart .overlay{z-index:12;position:fixed;display:none;height:100%;width:100%;background-image: url(../images/overlay.png);background-repeat: repeat;top:0;left:0}

#popupAjaxcart .loading{background:url("../images/loading.gif") no-repeat scroll center center #fff;box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);-o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);-ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);display:none;width:55px;height:55px;left:48%;opacity:1;padding:20px;position:fixed;top:38%;z-index:999999}

.shopping-cart-box-ontop,.header-setting-icon{width: 50px; height: 50px;position: absolute;top: 0;right: 0;display: none;}

.header-setting-icon{right: 50px;}

.header-container-fixed .shopping-cart-box-ontop,

.header-container-fixed .shopping-cart-box-ontop-content,

.header-container-fixed .header-setting-icon{display: block;}

.header-container-fixed .cart-header,.header-container-fixed .crat-icon,.header-container-fixed .text-setting{display: none;}

.header-container-fixed .mini-maincart{margin: 0;}

.header-container-fixed .cartSummary{padding: 0;height: 50px;width: 50px;border: 0;}

.header-container-fixed .cartSummary::after{height: 50px;width: 50px;top:0;right: 0;}

.header-setting-icon .dropdown-toggle:before {color: #999999; content: "";font: 18px/1 FontAwesome;}

.header-setting-icon .dropdown-toggle{width: 50px;height: 50px;line-height: 50px;cursor: pointer;text-align: center;}

.header .header-container-fixed .header-setting.header-setting-icon .dropdown-switcher {left: auto;right: 0;}

/* custom css added on feb 12th 2016 */
.header-top {
   /* border-bottom: 1px solid #000;  */
}
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #000 !important;
}
.header-color a {
    color: #000;
}
.nav-top-links .fa { color:#000 !important; }

/*
.ced-sociallogin-login-lower , .ced-sociallogin-login-lower-google, .ced-sociallogin-login-lower-facebook {
float:left !important;
width:85% !important;
margin: 8px -75px !important;
}
*/
.megashop h3 {
    background-color: #000000;
    color: #fff !important;
}
.service { background: #F6F6F6 !important; }
.service .service-item h3,.service .service-item span { color:#666666 !important; } 
/*.content_heading.alo-content_heading { background-color: #ff3366 !important; } */
/*.footer-color .block-footer-top {
    background-color: #111111 !important;
}
.footer .block-title, .trademark-text-tit, .trademark-list-top #payment-methods {
    color: #dedede !important;
}  
.footer .collapsible p {
    color: #9c9c9c !important;
} 
.footer .block-content-statick li a {
    color: #9c9c9c !important;
} */
.block-newletter .block { border:none !important; }
/*.footer-color .block-footer-copyright { background:#000 !important }*/
.footer address { padding: 10px 0 0 !important; }
/*.footer address, .footer address a { color: #fff !important; }*/
.vmagicmenu .level0 .level-top-mega .children > a span { font-size: 13px !important; }

/*.magicmenu .nav-desktop .level0 .level-top-mega, .magicmenu .nav-desktop .level0.dropdown > .level0, .magicmenu .nav-desktop .level0.dropdown .hasChild ul, .magicmenu .nav-desktop .level0.dropdown .hasChild ul {
	background: #fff !important ; /* For browsers that do not support gradients 
    background: -webkit-linear-gradient(#fff, #ffd771) !important; /* For Safari 5.1 to 6.0 
    background: -o-linear-gradient(#fff, #ffd771 !important); /* For Opera 11.1 to 12.0 
    background: -moz-linear-gradient(#fff, #ffd771) !important; /* For Firefox 3.6 to 15 
    background: linear-gradient(#fff, #ffd771) !important; /* Standard syntax 
}*/
/*.vmagicmenu .level0 .level-top-mega, .vmagicmenu .vmagicmenu-narrow .level0.dropdown > .level0 {
	background: #fff !important ; /* For browsers that do not support gradients
    background: -webkit-linear-gradient(#fff, #ffd771) !important; /* For Safari 5.1 to 6.0 
    background: -o-linear-gradient(#fff, #ffd771 !important); /* For Opera 11.1 to 12.0 
    background: -moz-linear-gradient(#fff, #ffd771) !important; /* For Firefox 3.6 to 15 
    background: linear-gradient(#fff, #ffd771) !important; /* Standard syntax 
} */
.nav-top-links a, .text-setting, .support-link a {  border-right: 1px solid #E0E0E0 !important; } 
.crat-icon .zero, .crat-icon .item {
   /* color: #000 !important;*/
    color: #fff !important;
}
.magicmenu .nav-desktop .level0 .level-top-mega .children.level1 > a {
    font-size: 13px !important;
    font-weight: normal !important;
    margin-bottom: 0 !important;
    margin-right: 20px !important;
    margin-top: 10px !important;
	text-transform: capitalize !important;
}

#fltr_title4, #fltr_title5 {
  /* border: medium none;
    cursor: pointer;
    float: left;
    font-size: 14px !important;
    height: auto !important;
    line-height: 15px !important;
    margin: 1px 0 0 14px !important;
    width: 90% !important;*/
}
#fltr_title4 #info, #fltr_title5 #info {
  /* border: medium none !important;
    font-size: 15px !important;
    height: auto !important;
    line-height: 15px;
    margin: 0 !important;
    padding: 0 !important;
    text-transform: capitalize !important;*/
}
.theme_title #info {
    /*border-bottom: 2px solid #efcb38;*/
    color: #333;
    float: left;
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
    width: 60%;
}
.theme_title {
    border-bottom: 1px solid #e2e2e2;
    cursor: pointer;
    float: left;
    font-size: 17px !important;
    margin: 0 0 8px !important;
    padding: 8px 0 0 !important;
    width: 100%;
}
#fltr_ol1, #fltr_ol2, #fltr_ol3,#fltr_ol4,#fltr_ol5 {
    float: left;
    padding: 8px 0;
	width: 100%;
}.
#fltr_ol4 ol li a, #fltr_ol5 ol li a {
    float: left;
    font-size: 13px;
    line-height: 14px;
    padding: 4px 0 5px;
    width: 100%;
}
#fltr_ol4 ol li a input, #fltr_ol5  ol li a input{
    margin: -2px 0 2px;
}
.sub_title {
    border: medium none !important;
    float: left !important;
    font-size: 14px !important;
    margin: 0 0 7px !important;
    padding: 0 !important;
    width: 100%;
}
.sub_title span {
    border-bottom: 1px solid #efefef !important;
    float: left !important;
    font-size: 14px !important;
    margin: 0 0 0 12px;
    width: 100% !important;
}
.theme_div > h3 {
    font-size: 16px;
    font-weight: normal;
}
.theme_div {
    color: #727272;
    float: left;
    margin: 28px 0 0;
    width: 100%;
}
.sub_cont {
    float: left;
}


