/**
 * CedCommerce
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
  * http://opensource.org/licenses/osl-3.0.php
 *
 * @category    Ced
 * @package     Ced_SocialLogin
 * @author 		CedCommerce Magento Core Team <Ced_MagentoCoreTeam@cedcommerce.com>
 * @copyright   Copyright CedCommerce (http://cedcommerce.com/)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

/**
 * @category   	Ced
 * @package    	Ced_SocialLogin
 * @author 		CedCommerce Magento Core Team <Ced_MagentoCoreTeam@cedcommerce.com>
 */

/* Modifyed by sks  */
/*
div.ced-sociallogin-register,
div.ced-sociallogin-checkout,
div.ced-sociallogin-login {
    margin-top: 28px;
}
*/
div.ced-sociallogin-register,
div.ced-sociallogin-checkout,
div.ced-sociallogin-login {
    margin-top: 5px;
}

div.ced-sociallogin-login .content {
    min-height: 100px;
}

div.ced-sociallogin-register .fieldset {
    margin: 0px;
}

div.ced-sociallogin-account .col3-set .col-1 {
    width: 29%
}

div.ced-sociallogin-account .col3-set .col-2 {
    width: 49%
}

div.ced-sociallogin-account .col3-set .col-3 {
    width: 19%
}

div.ced-sociallogin-account .col2-set .col-1 {
    width: 79%
}

div.ced-sociallogin-account .col2-set .col-2 {
    width: 19%
}
