<?php
/**
 * Magiccart 
 * @category 	Magiccart 
 * @copyright 	Copyright (c) 2014 Magiccart (http://www.magiccart.net/) 
 * @license 	http://www.magiccart.net/license-agreement.html
 * @Author: Magiccart<team.magiccart@gmail.com>
 * @@Create Date: 2014-04-25 13:15:04
 * @@Modify Date: 2015-07-22 21:06:35
 * @@Function:
 */
?>

<?php

// drawMainHome
$menu = $this->cfgExt->vmenu;
if(!$menu['enabled']) return;
$drawHomeMenu = '';
$home = $menu['home'];
if($home) $drawHomeMenu  = $this->drawHomeMenu();

// drawMainMenu vs DrowMobileMenu
$menuHtml = $this->drawMainMenu();
$mobileMenu = $menuHtml['mobile'];
$desktop 	= $menuHtml['desktop'];
$ids  = explode(',', $menu['notIncludeNav']);
foreach ($ids as $id) {
	unset($desktop[$id]);
}
$drawMainMenu = $menu['mainCat'] ? implode("\n", $desktop) : '';

// drawExtMenu ExtraMenu
$drawExtraMenu = $menu['extraCat'] ? $this->drawExtraMenu() : '';

$rootName = Mage::getModel('catalog/category')->load(Mage::app()->getStore()->getRootCategoryId())->getName();

?>
<div class="vmagicmenu clearfix">
    <div class="block-title block-title-vmagicmenu">
        <strong>
            <span class="fa fa-bars"></span>
            <span class="vmagicmenu-subtitle"><?php echo $this->__($rootName); ?></span>
        </strong>
    </div>
	<ul class="vmagicmenu-narrow clearfix">
		<?php echo $drawHomeMenu ?>
		<?php echo $drawMainMenu ?>
		<?php echo $drawExtraMenu ?>
	</ul>
</div>
<?php 
if($this->cfgExt->topmenu['enabled']) return;
?>
<div class="nav-mobile">
	<ul>
		<?php echo $mobileMenu ?>
	</ul>
</div>

