<?php
	$filter_arr = array();
	$i=0;
	foreach ($this->getItems() as $_item) {
		$temp_arr = explode('-',$_item->getLabel()); 
		if(count($temp_arr) > 1) {
			$temp_val = trim($temp_arr[0]);
			$temp_cat = trim($temp_arr[1]);
			$filter_arr[$temp_cat][$i]['label'] = $temp_val;
			$filter_arr[$temp_cat][$i]['href'] = ($_item->isSelected()) ? $_item->getRemoveUrl() : $_item->getUrl();
			$filter_arr[$temp_cat][$i]['checked'] = ($_item->isSelected()) ? "checked='checked'" : "";
			$filter_arr[$temp_cat][$i]['count'] = $_item->getCount();
			$i++;
		}
	}
	//echo "<pre>"; print_r($filter_arr); echo "</pre>";
?>
<?php if($i == 0) { ?>	
<ol>
    <?php foreach ($this->getItems() as $_item): ?>
	<?php //echo $_item ?>
        <li style="background:none">
            <?php if ($_item->getCount() > 0): ?>
                <a href="<?php echo ($_item->isSelected()) ? $_item->getRemoveUrl() : $_item->getUrl() ?>">
                    <input type="checkbox"<?php if ($_item->isSelected()): ?> checked="checked" <?php endif; ?>/>
				</a>
				<a href="<?php echo ($_item->isSelected()) ? $_item->getRemoveUrl() : $_item->getUrl() ?>">
                    <?php echo $_item->getLabel() ?>
                    <?php if ($this->shouldDisplayProductCount()): ?>
                        <span class="count">(<?php echo $_item->getCount() ?>)</span>
                    <?php endif; ?>
                </a>
            <?php else: ?>
                <span>
                    <?php echo $_item->getLabel(); ?>
                    <?php if ($this->shouldDisplayProductCount()): ?>
                        <span class="count">(<?php echo $_item->getCount() ?>)</span>
                    <?php endif; ?>
                </span>
            <?php endif; ?>
        </li>
    <?php endforeach ?>
</ol>
<?php } else if($i > 0) { 
	foreach($filter_arr as $key => $item) { ?>
		<!--<dl class="narrow-by toggle-visible">
		<dt style="text-transform:none;font-size:14px"><?php echo $this->__($key) ?></dt>
		</dl>-->	
		<?php echo $this->__($key) ?>
		<?php $item = array_values($item); ?>
		<ol>
<?php for($j=0;$j<count($item);$j++) { ?>
		<li id="back_cs">
            <?php if ($item[$j]['count'] > 0): ?>
                <a href="<?php echo $item[$j]['href'] ?>">
                    <input type="checkbox" <?php echo $item[$j]['checked'] ?> id="custom_one" />
				</a>
				<a href="<?php echo $item[$j]['href'] ?>">
                    <?php echo $item[$j]['label'] ?>
                    <?php if ($this->shouldDisplayProductCount()): ?>
                        <span class="count">(<?php echo $item[$j]['count'] ?>)</span>
                    <?php endif; ?>
                </a>
            <?php else: ?>
                <span>
                    <?php echo $item[$j]['label'] ?>
                    <?php if ($this->shouldDisplayProductCount()): ?>
                        <span class="count">(<?php echo $item[$j]['count'] ?>)</span>
                    <?php endif; ?>
                </span>
            <?php endif; ?>
        </li>
<?php } // end of j ?>
		</ol>
<?php
	}
 } 
?><style type="text/css">#custom_one{margin-top:-2px;}#back_cs{background:none;}</style>
