<!----------------------------------------------------------------------------->
<?php 
	$search_theme_flag = 0;
	$search_tcategory_flag = 0;
	$theme_parent_ids = array(4,20,36,45,60,56,69);
	$cat_parent_ids = array(87,71,109,98,81,94);
	$search_theme_arr = array();
	$search_category_arr = array();
	
	foreach($theme_parent_ids as $parent_id) {
		$cat = Mage::getModel('catalog/category')->load($parent_id);
		$search_theme_arr[] = strtolower($cat->getName());
		$subcats = explode(",",$cat->getChildren());
		foreach($subcats as $child_id) {
			$subcat = Mage::getModel('catalog/category')->load($child_id);
			$search_theme_arr[] = strtolower($subcat->getName());
		}	
	}
	
	foreach($cat_parent_ids as $parent_id) {
		$cat = Mage::getModel('catalog/category')->load($parent_id);
		$search_category_arr[] = strtolower($cat->getName());
		$subcats = explode(",",$cat->getChildren());
		foreach($subcats as $child_id) {
			$subcat = Mage::getModel('catalog/category')->load($child_id);
			$search_category_arr[] = strtolower($subcat->getName());
		}
	}
	
	if(isset($_GET['q'])) { 
		$q = str_replace(" ","-",strtolower($_GET['q']));
		if(in_array($q,$search_theme_arr)) {
			$search_theme_flag = 1;
		}
		if(in_array($q,$search_category_arr)) {
			$search_category_flag = 1;
		}
	}
	
?>

<?php
	$request_uri = $_SERVER['REQUEST_URI'];
	$temp_arr = explode("/",$request_uri);
	$is_theme_present = 0;
	$is_category_present = 0;
	//echo "<pre>"; print_r($temp_arr); echo "</pre>";
	foreach($temp_arr as $temp) {
		$temp_val2 = explode("?",$temp);
		/*echo "<pre>"; print_r($temp_val2); echo "</pre>";
		if(count($temp_val2) > 0)*/
			$temp_val3 = str_replace(".html","",$temp_val2[0]);
		/*else
			$temp_val3 = str_replace(".html","",$temp);*/
		if(($temp_val3 == "super-heroes") || ($temp_val3 == "tv-shows"))
			$temp_val3 = str_replace("-"," ",$temp_val3);
		else
			$temp_val3 = str_replace("-"," & ",$temp_val3);
		//echo $temp_val3 . "<br>";
		if(in_array($temp_val3,$search_theme_arr))
			$is_theme_present = 1;
		else if(in_array($temp_val3,$search_category_arr))
			$is_category_present = 1;
	}
	//echo $is_theme_present . "<br>" . $is_category_present;
?>
<!----------------------------------------------------------------------------->
<?php if ($this->canShowBlock()): ?> 
    <?php if (!$this->getRequest()->isAjax()): ?>
    <div id="layered-navigation">
    <?php endif; ?>
    <div class="block block-layered-nav<?php if (!$this->getLayer()->getState()->getFilters()): ?> block-layered-nav--no-filters<?php endif; ?>">
        <div class="block-title">
            <strong><span><?php echo $this->__('Filter By') ?></span></strong>
           <?php echo $this->getChildHtml('amenu') ?>
        </div>
        <div class="block-content toggle-content" style="display:block">
            
            <?php echo $this->getStateHtml() ?>
            <?php if ($this->getLayer()->getState()->getFilters()): ?><br>
                <div class="actions"><a href="<?php echo $this->getClearUrl() ?>"><?php echo $this->__('Clear All') ?></a></div>
            <?php endif; ?>
            <?php if($this->canShowOptions()): ?>
                <p class="block-subtitle block-subtitle--filter"><?php echo $this->__('Filter') ?></p>
                <div id="narrow-by-list">
                    <?php $_filters = $this->getFilters() ?>
					<?php //$_filters = Mage::getSingleton('catalog/layer')->getState()->getFilters(); ?>
                    
                    <?php foreach ($_filters as $_filter): ?>
						<?php $show_filter = 0; ?>
						<?php 
							$tt = $this->__($_filter->getName());
							
							switch($tt) {
								case "Size" :
									if((strcmp($temp_val3,"apparel") != 0) && (in_array("apparel",$temp_arr)))
										$show_filter = 1;
								break;
								
								case "Price" :
									$show_filter = 1;
								break;
								
								case "Shop By Category" :
									if($search_theme_flag == 1) { 
										$show_filter = 1;
									} 
									if($is_theme_present == 1) {
										$show_filter = 1;
									} 
									if(($search_theme_flag == 0) && ($search_category_flag == 0) && isset($_GET['q'])) { 
										$show_filter = 1;
									} 
									//echo "Shop By Category : " . $show_filter;
								break;
								
								case "Shop By Theme" :
									if($search_category_flag == 1) { 
										$show_filter = 1;
									} 
									if($is_category_present == 1) {
										$show_filter = 1;
									} 
									if(($search_theme_flag == 0) && ($search_category_flag == 0) && isset($_GET['q'])) { 
										$show_filter = 1;
									} 
								break;
							}				
						?>
						<?php if($show_filter == 1) { ?>
							<?php if($_filter->getItemsCount()): ?>	
								<dl class="narrow-by toggle-visible">
									<dt style="text-transform:none"><?php echo $this->__($_filter->getName()) ?></dt>
									<dt class="toggle-tab mobile even" style="line-height:25px;"></dt>
									<dd class="<?php echo $_filter->getName() ?> toggle-content odd visible">
									<?php if($_filter->getItemsCount() > 10): ?>
									<div style="overflow-y:scroll;height:320px;">
									<?php endif; ?>
									<?php echo $_filter->getHtml() ?>
									<?php if($_filter->getItemsCount() > 10): ?>
									</div>
									<?php endif; ?>
									</dd>
								</dl>
								<?php endif; ?>	
						<?php } //} ?>                              
                   
					<?php endforeach; ?>

                </div>
                <script type="text/javascript">decorateDataList('narrow-by-list')
                
        var currentPageId = '';
           if (jQuery('fltr_title4'+currentPageId).is('dt')) {
           jQuery('fltr_title4'+currentPageId).addClass('active');
        }
    </script>

            <?php endif; ?>
        </div>
    </div>
    <?php if (!$this->getRequest()->isAjax()): ?>
    </div>
    <?php endif; ?>
<?php endif; ?>


