<html>
<head>
<script>
jQuery(document).ready(function(){
jQuery("#search_bar").keyup(function() {
var search_bar = jQuery('#search_bar').val();
if(search_bar=="")
{
jQuery("#search_bar").html("");
}
else
{
jQuery.ajax({
type: "POST",
url: "https://www.entertainmentstore.in/test/index.php/result/?___store=default",
data: "search_bar="+ search_bar ,
success: function(html){
jQuery("#livesearch").html(html).show();
}
});
}
});
});
</script>
</head>
<body>
<form>
<input id="search_bar" type="text" name="search_bar" size="30" onkeyup="showResult(this.value)">
<div id="livesearch">
</div>
<input id="btn" type="button" value="submit">
</form>
</body>
</html>