<?php
/**
 * Magiccart 
 * @category 	Magiccart 
 * @copyright 	Copyright (c) 2014 Magiccart (http://www.magiccart.net/) 
 * @license 	http://www.magiccart.net/license-agreement.html
 * @Author: DOng NGuyen<nguyen@dvn.com>
 * @@Create Date: 2014-05-08 22:57:12
 * @@Modify Date: 2015-09-22 11:39:01
 * @@Function:
 */
 ?>
<?php if(!$this->getGeneralCfg('enabled')) return; ?>
<?php if($this->getStatus() == 2) return; ?>
<?php $selector = $this->generateRandomString(); //md5(rand()); //rand(0,666666); ?>

<div class= "<?php echo $selector?> megashop">
<?php
$tabs = $this->getTabs();
$relatedTabs = $this->getRelatedTabs();
$ajax = json_encode($this->getProductCfg());
$numTabs = count($tabs);
echo '<h3 class="title">'.$this->getCatName().'</h3>';
if($numTabs): ?>
    <span class="toggle-tab mobile" style="display:none"><i class="fa fa-bars"></i></span>
    <div class="block-title-tabs toggle-content">
	<ul class="magictabs" data-ajax ='<?php echo $ajax ?>'>
	<?php $active = $this->getTabActive();
		$limit = $this->getNumProduct();
		$single = ($numTabs ==1) ? 'single' : '';
		foreach ($tabs as $type => $name):
			$status = ($type == $active) ? "active loaded $single" : '';
			echo '<li class="item '.$status.'" data-type ="'.$type.'"><span class ="title">'.$this->__($name).'</span></li>';
		endforeach;
	?>
	</ul>
	<div class="floor-elevator">
		<a href="#" class="btn-elevator up fa fa-angle-up"></a>
		<a href="#" class="btn-elevator down fa fa-angle-down"></a>
	</div>
    </div>
<?php endif ?>

	<div class="ajax_loading" style="display:none" data-url="<?php echo $this->getUrl('megashop/index/ajax')?>">
		<img src="<?php echo $this->getSkinUrl('magiccart/plugin/images/loading.gif')?>" alt="<?php echo $this->__('Loading...');?>"/>
	</div>
		<?php 
			$margin  = (int) $this->getData('marginColumn');
			$slide   = json_encode($this->setFlexiselArray());
			$options = json_encode($this->getItemsDevice());
		?>
	<div class="product-box clearfix">
	    <div class="row">
		    <div class="col-sm-2 sub-category-wapper">
		      <ul class="sub-category-list">
		      <?php
		      	foreach ($relatedTabs as $cat):
					echo '<li class="citem" data-type ="'.$cat->getEntityId().'"><a href="'.$cat->getUrl().'"><span class ="title">'.$cat->getName().'</span></a></li>';
				endforeach;
		      ?>
		      </ul>
		    </div>
		    <div class="col-sm-10 col-right-tab">
			    <div class="product-featured-content">
					<?php 	
						$images = $this->getImages();
						$width  = 386;
						$height = 572;
						$idHtml = $this->generateRandomString();
						$numImage = count($images);
						?>
						<?php if(isset($images) && !empty($images) && $numImage>0) : ?>
							<div class="banner-featured">
								<div class="promotion">
									<div id="<?php echo $idHtml ?>">
									<?php $start = 'play start' ?>
									<?php foreach($images as $image): ?>
										<div class="item">
											<a  href="<?php echo ( isset($image['link']) && $image['link'] ) ? ($image['link']) : '#'; ?>">
												<img src="<?php echo $this->helper('megashop')->resizeImg($image['file']);?>" alt="<?php echo $image['label'] ? $image['label'] : 'promotions' ?>">
											</a>
											<?php if(isset($image['html']) && $image['html']) : ?>
												<div class="bx-caption <?= $start ?>">
													<?php echo $image['html'] ?>
												</div>
											<?php endif ?>
										</div>
										<?php $start = '' ?>
									<?php endforeach;?>
									</div>
								</div>
							 </div>
							<?php if($numImage >1): ?>
								<script type="text/javascript">
									jQuery(document).ready(function($){
										$('#<?php echo $idHtml ?>').bxSlider({
											auto: false,
											captions: true,
											<?php //echo $this->getBxslider() ?>
											onSlideBefore: function(el) {
												el.siblings().find('.bx-caption').removeClass('play');
												el.find('.bx-caption').addClass('play').addClass('start');				
											},
										});
									});
								</script>
							<?php endif ?>
						<?php endif;?>
		        
					<div class="content-products" data-margin="<?php echo $margin ?>" data-slider='<?php echo $slide ?>' data-options='<?php echo $options; ?>'>
					<?php 
						$timer = $this->getTimer();
						if($timer){
							echo $this->getContentActive('magiccart/megashop/product/gridtimer.phtml');	
						} else {
							echo $this->getContentActive('magiccart/megashop/product/grid.phtml');	
						}
						
					?>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- MAP -->
	<?php echo $this->getChildHtml('product.tooltip');?>
	<!-- MAP -->
</div>

<script type="text/javascript">
jQuery(document).ready(function () {
	jQuery(".<?php echo $selector?>").magicproduct({
		selector : ".<?php echo $selector?>", // Selector product grid
	});
});
</script>

