<html>
<head>

<style>
#content {
    margin: 0 auto;
    width: 1190px;
}
table{
    border-collapse: collapse;
    width: 1024px;
    margin: 20px 150px 0 150px;
    float: left;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-spacing:0;
	overflow:hidden;
}
tr:nth-child(even){background-color: #f2f2f2};
th, td {
    text-align: left;
    padding: 10px;
}
#livesearch{
    display: none;
    color: black;
    height: auto;
    width: 830px;
    border: 1px solid #696969;
    float: left;
    border-radius: 4px;
    position: relative;
    margin: 56px 0 0 -832px;
}
#livesearch li {
    list-style-type: none;
    padding: 5px 15px;
    font-size: 15px;
}
#search_bar {
    float: left;
    font-size: 15px;
    font-weight: normal;
    background-color: #e6e6e6;
    border: 1px solid #696969;
    border-radius: 5px;
    color: #000;
    height: 20px;
    padding: 5px 15px;
    width: 800px;
    margin: 25px 0px 0px 97px;
}
#btn{
    float: left;
    margin: 25px 0 0 20px;
    padding: 6px;
    background-color: #4CAF50;
    color: white;
    width: 170px;
    font-size: 15px;
    border: 1px solid #696969;
    border-radius: 4px;
	cursor:pointer;
}
#tab_style th {
    padding: 10px;
    font-size: 15px;
    color: #fff;
    text-align: center;
	font-weight:normal;
    background: #696969;
    border-bottom: 1px solid #000;
}
#tab_style tr:hover {
  background: #fbf8e9;
  transition: all 0.1s ease-in-out;     
} 
#tab_style th:first-child {
    border-radius: 4px 0 0 0;
}

#tab_style th:last-child {
    border-radius: 0 4px 0 0;
}

#tab_style th:only-child{
    border-radius: 4px 4px 0 0;
}
#tab_style tr:last-child td{
	border-bottom-left-radius: 4px;    
    border-bottom-right-radius: 4px;
}
#tab_style td {
    border-bottom: 1px solid #000;
    font-size: 15px;
    text-align: center;
    font-weight: normal;
	padding: 5px 5px 2px 5px;
	vertical-align:middle;
}
#msg{
	display:none;
	border: 1px solid #696969;
	border-radius:4px;
    width: 100%;
	margin:0 150px 0 150px;
    float: left;
    background-color: #e6e6e6;
    color: #B22222;
	font-size:15px;
	width: 50%;
    margin: 0 150px 0 280px;
    text-align: center;
	font-weight:bold;
	padding:10px 0;
}
.del {
	border: 1px solid #696969;
    padding: 6px;
    border-radius: 4px;
    background: #dc143c none repeat scroll 0 0;
    color: #fff;
    width: 150px;
    font-size: 15px;
	cursor:pointer;
	margin-left: 10px;
}
.add {
	border: 1px solid #696969;
    padding: 6px;
    border-radius: 4px;
    background: #4CAF50 none repeat scroll 0 0;
    color: #fff;
    width: 150px;
    font-size: 15px;
	cursor:pointer;
}
td.category_name {
    text-align: left !important;
}
#tab_style td img {
    width: 50px;
    height: 50px;
}
.first{display:none;}

</style>
</head>
<body>
<div id="content">
<div id="msg"></div>
<form method="post" action="javascript:void(0)">
<input id="search_bar" type="text" name="search_bar" placeholder="Search Category">
<input type="hidden" name="livesearch" id="search_value" value="">
<input type="hidden" value ="<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/custom/ajxchrt') ?>" id="ctrlurl"/>
<input type="hidden" value ="<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/custom/ajxlod') ?>" id="ctrllod"/>
<input type="hidden" value ="<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/custom/delrec') ?>" id="delrec"/>
<!--<input type="hidden" value ="<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/custom/updte') ?>" id="updte"/>-->
<input type="hidden" name="srcimg" value ="" id="srcimg"/>
<input type="hidden" name="page_url" value ="" id="page_url"/>
<div id="livesearch">
</div>
<input id="btn" type="submit" name="submit" value="ADD">
</form>
</div>
<?php 
	   $resource = Mage::getSingleton('core/resource');
       $readConnection = $resource->getConnection('core_read');
	   $result = $readConnection->query("select * from custom_entsto_chart ORDER BY id ASC");
	   $i==0;
	  echo "<table id='tab_style'><thead>
          <tr> 
          <th>No.</th>
		  <th>Image</th>
          <th>Name</th>
          <th>Option</th> 
         </tr></thead><tbody>";
		 $row = $result->fetchAll();
	   if (!empty($row))  {
		foreach($row as $date)
			{
			$i++;
			?>
		<tr>
		<td><?php echo $i ?></td>
		<td><img src="<?php echo $date['image'] ?>" alt="<?php echo $date['cat_name'] ?>"></td>
		<td class='first'><?php echo $date['cat_id'] ?></td>
		<td class='category_name'><?php echo $date['cat_name'] ?></td>
		<!--<td class='order'><input id="order" maxlength="2" onkeypress="return numbersonly(event)" type="text" name="order" value="<?php echo $date['position'] ?>"></td>-->
		<td><input type='button' value='REMOVE' class='del'></td>
		</tr>
			<?php
			}
			echo "</tbody></table>";
	   }
?>

<script>

function numbersonly(e){
    var unicode=e.charCode? e.charCode : e.keyCode
    if (unicode!=8){ //if the key isn't the backspace key (which we should allow)
        if (unicode<48||unicode>57) //if not a number
            return false //disable key press
    }
}
function fill(Value)
{
jQuery('#search_bar').val(Value);
jQuery('#livesearch').hide();
}
function fill1(Value)
{
jQuery('#search_value').val(Value);
}
function fill2(Value2)
{
jQuery('#srcimg').val(Value2);
}
function fill3(Value3)
{
jQuery('#page_url').val(Value3);
}
jQuery(document).ready(function(){
jQuery("#search_bar").keyup(function() {
var search_bar = jQuery('#search_bar').val();
var ctrlurl = jQuery("#ctrlurl").val();
var n = search_bar.length;
if(parseInt(n)>3)
{
new Ajax.Request(ctrlurl, {
        parameters: {isAjax: 1, method: 'POST',data1:search_bar},
        onSuccess: function(hl) {
          jQuery("#livesearch").html(hl['responseText']).show();
        }
       });
}
else
{
jQuery("#search_bar").html("");
jQuery("#livesearch").hide();
}
});
});

jQuery(document).ready(function(){
jQuery("#btn").click(function() {
var search_bar = jQuery('#search_bar').val();
var page_url = jQuery('#page_url').val();
var search_value = jQuery("#search_value").val();
if(search_value=="")
{
alert('Please select any category');
}else{
var ctrllod = jQuery("#ctrllod").val();
var srcimg = jQuery('#srcimg').val();
var search_value = jQuery('#search_value').val();
 new Ajax.Request(ctrllod, {
        parameters: {isAjax: 1, method: 'POST',data2:search_bar,data3:srcimg,data4:search_value,data5:page_url},
        onSuccess: function(h2) {
		if(h2['responseText'] == "Category already available")
		{
		jQuery("#msg").html(h2['responseText']).show();
		}
		else{
          jQuery("#msg").html(h2['responseText']).show();
		  window.location.reload();
		  }
        }
       });
}

});

jQuery(".del").click(function() {
var delrec = jQuery("#delrec").val();
var idof = jQuery(this).closest('td').siblings('.first').text();
new Ajax.Request(delrec, {
        parameters: {isAjax: 1, method: 'POST',data5:idof},
        onSuccess: function(h2) {
          jQuery("#msg").html(h2['responseText']).show();
		  window.location.reload();
        }
       });
});

jQuery(".add").click(function() {
var updte = jQuery("#updte").val();
var idof = jQuery(this).closest('td').siblings('.first').text();
var order = jQuery(this).closest('td').siblings('.order').find('input').val();
if(order=="")
{
alert('Please enter order number.');
}
else{
new Ajax.Request(updte, {
        parameters: {isAjax: 1, method: 'POST',data6:idof, data7:order},
        onSuccess: function(h2) {
          jQuery("#msg").html(h2['responseText']).show();
		  window.location.reload();
        }
       });
	   }
});

});
</script>

</body>
</html>