@media (min-width: 1200px) {}

@media (min-width: 992px) and (max-width: 1200px) {
	.content-cart{width: 25%;}
 	.vmagicmenu,.vmagicmenu .block-vmagicmenu-content{width: 250px;min-width: 250px;}
}

/* 960px <= width < 1200px */
@media only screen and (min-width: 960px) and (max-width: 1200px) {
}

@media(max-width:1200px) {
}
/* 940px <= width < 1170px */
@media (min-width: 940px) and (max-width: 1170px) {	
  
  .content-seach{padding-left: 0;width: 50%;}
  .header-top-right{width: 100%;padding:0 15px;margin: 0;}
  .slider-left{display: none;}
  .magicslider .bx-wrapper img{width: 100%;}
  .cms-index-index .vmagicmenu .block-vmagicmenu-content {opacity: 0;visibility: hidden;}
  .cms-index-index .vmagicmenu:hover .block-vmagicmenu-content {opacity: 1;visibility: visible;}
  .magicmenu .nav-desktop .level0 .level-top-mega .mage-column.mega-block-right{position: absolute;right: 0;bottom: 0;}
  .mega-block-right img{position: static;}
  .magicmenu .nav-desktop .level0.home{padding:0;}
  .magicmenu .nav-desktop .level0 .level-top{padding: 17px 15px;}
  .magicmenu .nav-desktop .level0.logo.display .level-top{padding: 26px 15px;}
  .magicmenu .nav-desktop .level0 .level-top-mega .mage-column .children{width:180px;}
  .product-view .product-shop .add-to-cart button.button span span{padding:0 23px;}
  .product-view .product-img-box .more-views{width: 280px;}
  .play .caption1{font-size: 150px;line-height: 150px;margin: 0 0 0 -30px;}
  .play .caption2,.play .caption2 strong,.play .caption3{font-size: 65px;line-height: 65px;}
  .btn-shop{line-height: 35px;}
  .play .text-slide2 .caption1{font-size: 150px;line-height: 150px;}
  .caption-text1, .caption-text1 span,.text-slide2 .caption-text1{font-size: 60px;line-height: 60px;}
  .text-slide2 .caption-text2{font-size: 30px;line-height: 30px;}
  .text-slide2 .caption-text3{font-size: 25px;line-height: 25px;}
  .banner-inner-content a img,.megashop-banner img{max-width: 100%;}
  .latest-deals .products-textlink{padding:0;}
  .heading .title{font-size: 30px;}
  .box-title{padding: 0 0 6px 10px;}
  .box-top .sub-title{font-size: 18px;}
  .section-sub-text{font-size: 13px;}
  .subtitle, .sub-title{font-size: 14px;padding:18px 0 0;}
  .banner-top .banner-inner-content{margin-bottom: 12px;}
  .blog_short_text a span{font-size: 15px;}
  .megashop .magictabs .item .title, .megashop .magictabs .citem .title{padding: 17px 15px;}
  .products-list .actions-list .button.btn-cart span span.view-cart{font-size: 14px;}
  .block-footer-bottom .footer li.feature-icon .fa{width: 35px;height: 35px;line-height: 35px;}
  .footer .block1.block-content-statick li span.fa{font-size: 15px;}
  .footer .block1.block-content-statick li span.fa.fa-envelope{font-size: 15px;}
  .footer .block1.block-content-statick li p{width: 170px;}
  .footer .collapsible .form-subscribe-header p,.logo-text{font-size: 15px;}

}	

@media(max-width:991px) {
}

@media (min-width: 768px) and (max-width: 991px) {
	.header-top .top-left{width: 63%;padding-right: 0;}
	.header-top .top-right{width: 37%;padding-left: 0;}
	.nav-top-links a, .text-setting, .support-link a,.header .top-form-language .label,.nav-top-links span{font-size: 13px;}
	.content-logo{width: 100%;text-align: center;}
	.header .logo{display: inline-block;}
	.header .logo .logo1{padding: 20px 0;}
	.header-content{margin-bottom: 20px;}
	.header .header-search,.mini-maincart{margin-top: 0;}
	.content-cart{float: right;}
	.content-seach {padding-left: 15px;padding-right: 15px;}
	.content-cart{margin: 0;padding: 0 15px;}
	.vmagicmenu{width: 165px;}
	.vmagicmenu .block-vmagicmenu-content{min-width: 250px;}
	.cms-index-index .vmagicmenu .block-vmagicmenu-content {opacity: 0;visibility: hidden;}
	.cms-index-index .vmagicmenu:hover .block-vmagicmenu-content {opacity: 1;visibility: visible;}
	.mean-container a.meanmenu-reveal{padding: 15px;}
	.mean-container .mean-nav .mobi-title{line-height: 42px;padding: 0 0 0 70px;}
	.magicmenu .nav-desktop .level0 .level-top{padding: 17px 10px;}
	.magicmenu .nav-desktop .level0 .level-top-mega, .magicmenu .nav-desktop .level0.dropdown > .level0{padding: 0 0 0 20px;}
	.magicmenu .nav-desktop .level0.dropdown > .level0, .vmagicmenu .vmagicmenu-narrow .level0.dropdown > .level0{padding: 20px 0;}
	.magicmenu .nav-desktop .level0 .level-top-mega .children.level1 > a{margin-right: 30px;}
	.magicmenu .nav-desktop .level0 .level-top-mega .mage-column .children{width:160px;}
	.magicmenu .nav-desktop .level0 .level-top-mega .children.level1 img{max-width: 90%;}
	.header-top-right .header-banner,.slider-left{display: none;}
    .header-top-right{padding: 0 15px;margin: 0;width: 100%;}
    .magicslider .bx-wrapper img{width: 100%;}
    .header-top-right .homeslider{float: none;width: 100%;}
    .mega-custom-html img{max-width: 100%;height: auto;}
    .page-top-left,.page-top-right{width: 100%;}
    .service .service-item {padding: 0 10px;}
    .service .service-item .icon {text-align: center;width: 100%;}
    .service .service-item .icon img{display: inline-block;}
    .service .service-item .info {margin-left: 0;margin-top: 50px;padding-left: 0;text-align: center;width: 100%;}
    .actions-no .actions{top: 30%;}
    .megashop-banner,.banner-featured,.floor-elevator,.banner-bottom{display: none;}
	.product-featured .product-featured-content .content-products{margin-left: 0;}
	.content_heading{margin-top: 30px;}
	.megashop .magictabs .item .title, .megashop .magictabs .citem .title{padding: 17px 10px;}
	.megashop h3{width: 200px;}

	.block-newletter { text-align: left;padding-top: 20px;}
	.no-display{display:block !important;}
	.link-view{display: none;}
    .block .block-title strong span,.col-left .magictabs .item .title{line-height: 35px;}
    .col-left .magicproduct.mage-custom .content-products .item .images-container,.col-left .left-module .products-textlink{width: 100%;}
    .col-left .left-module .products-textlink{padding-left: 10px;}
    .left-module .content-products{padding: 15px 5px;}
    .product-view .product-img-box .more-views{width: 200px;}
	.product-view .product-shop .add-to-links{margin: 20px 0;}
	.product-view .product-shop .no-display{display:none !important;}
	.product-view .toggle-tabs .item{font-size: 14px;}
	.block-viewed .block-content, .block-reorder .block-content{padding:0 10px;}
	.block-layered-nav dd{padding: 0 0 10px;}
	.block-layered-nav dt{font-size: 14px;}
	.swatch-link, .swatch-label{font-size: 10px}
	.col-left-image{padding: 14px 10px 20px;}
	#narrow-by-list dd .swatch-link{margin-right: 0;}
	#popup-newsletter{width:728px !important;height: 455px !important;background-size: 100% auto;background-repeat: no-repeat;}
	#popup-newsletter .block-content{padding: 40px 20px 0;}
	#popup-newsletter .form-subscribe-header label{font-size: 14px;}
	#popup-newsletter .block-content .promotions{font-size: 90px;line-height: 68px;margin: 0 0 0 -122px;}
	#popup-newsletter .block-content .promotions2{font-size: 110px;line-height: 78px;}
	#popup-newsletter .block-content .promotions2 span{font-size: 70px;line-height: 60px;}
	#narrow-by-list dd .configurable-swatch-list li, #narrow-by-list dd ol.configurable-swatch-list li{width: 100%;}
	.block .block-content, .block-anav .nav-accordion {padding: 15px 5px;}
	.products-list .actions-list .button.btn-cart span span.view-cart{margin: 0;padding: 0px; text-align: center;float: none;}
	.products-list .actions-list .button.btn-cart span span{padding: 0 17px 0 10px;}
	.products-list .item .actions-no .add-to-links{margin: 10px 0 0;}
	.products-list .item .actions-no .add-to-links li .link-wishlist{margin-left: 0;}
	.products-list .item .right-block,.products-list .item .left-block{float: none;}
	.alo-social-networks a{margin: 0 8px 0 0;}
	.collapsible{margin-top: 15px;clear: both;}
	.block-footer-bottom .footer .block-title{font-size:15px;}
	.footer address,.paypal{float: none;padding:10px 0;display: inline-block;}
	.clearboth{clear: both;}
	.products-list .price-box .regular-price .price, .products-list .price-box .special-price .price,.products-list .price-box .old-price .price{font-size: 13px;}
    .cart-table td {padding: 15px 13px;}
/* 	.block-related .bx-wrapper .bx-controls-direction a.bx-prev, .box-up-sell .bx-wrapper .bx-controls-direction a.bx-prev, .crosssell .bx-wrapper .bx-controls-direction a.bx-prev{left: 0px;}
.block-related .bx-wrapper .bx-controls-direction a.bx-next, .box-up-sell .bx-wrapper .bx-controls-direction a.bx-next, .crosssell .bx-wrapper .bx-controls-direction a.bx-next{ right:0px;} */
     .block-related .per-product,.box-up-sell .per-product{margin-right: 2px;}
     .container { padding-left: 15px;padding-right: 15px;}
}

/* Iphone 5 landscape */
@media(max-width:767px) {
	.container { padding-left: 15px;padding-right: 15px;}
	.no-display{display:block !important;}
	.header-setting.header-setting-icon,.anav-container{display: none;}
	.header-top .top-left{text-align: center;}
	.nav-top-links, .support-link, .header-setting{float: none; display: inline-block;}
	.header-top .top-right{clear: both; text-align: center;}
	.settting-switcher{display: inline-block;}
	.header-setting{display: inline-block;float: none;}
	.header .header-setting,.settting-switcher, .top-links{float: none;}
	.content-logo{text-align: center;}
	.header .logo,.header .logo .img-responsive{display: inline-block;}
	.content-seach{padding-left: 15px;padding-right: 15px;}
	.header .header-search{margin-top: 0;}
	.header .form-search:hover input.input-text {opacity: 1;top: 112px;visibility: visible;width: 100%;}
	.header { position: relative;}
	.header-setting .label-title {margin-bottom: 5px;text-align: left;}
	.dropdown-switcher ul {margin: 0;}
	.header .header-right .header-search .dropdown-switcher { border: 0 none;  padding: 0; width: 100%;}
	.content-cart{margin: 0 0 30px;padding: 0 15px;}
	.miniCartWrap .icons{padding: 6px;font-size: 24px;}
	.cartSummary span.item, .cartSummary span.zero, .cartSummary span.price {font-size: 12px;}
	.cms-index-index .border-bottom::before{display: none;}
	.border-bottom { position: static;}
	.header-top-right {margin: 0;padding-left: 15px;padding-right: 15px;}
	.header-top-right .homeslider{width: 100%;}
	.header-top-right .header-banner{display: none;}
	.custom-menu .magicmenu,.menu-mobile-none{display: none;}
	.header-container-fixed{position: static;}
	.service{display: none;}
    #popup-newsletter{width: 100% !important;background-image: none !important;}
	#fancybox-wrap ,#fancybox-overlay{display: none !important;}
	#popup-newsletter .block-content{width: 100%;float: none;}
	#popup-newsletter .block-content .promotions{margin: 0;text-align: center;}
	#popup-newsletter .block-content h3,#popup-newsletter .subscribe-bottom{text-align: center;}
	.newsletter-new{display: inline-block;}

	.box .featured-images-wrap, .box .featured-text-wrap{float: none;margin:0 auto;}
	.box{padding-bottom: 0;}
	.box-top img{width: 100%;}
	#magicshop_quickview_handler{display:none !important;}
	.link-view{display: none;}
	.social-links a{display:inline-block;float:none;}
	.block-content-statick{margin-bottom:10px;}
	.paypal img{display:inline;}
	.magictabs .item span{font-size:12px;}
	.magictabs .item{padding: 0;}
	.magictabs .item .title{padding: 0;}
	.block-title h2 span.title-top {font-size: 30px;padding: 0 0 20px;}
	.category-products .item img, .product-image img{width: 100%;}
	.cart-table .product-image img{width: auto;}
	.actions-no .actions{top: 30%;}
	.megashop-banner,.banner-featured,.floor-elevator,.banner-bottom{display: none;}
	.product-featured .product-featured-content .content-products{margin-left: 0;}
	.megashop .block-title-tabs{clear: both; padding-top: 6px}
	.megashop h3{width: auto; padding-right: 80px; max-width: 75%}
	.megashop .magictabs .item .title, .megashop .magictabs .citem .title,.magictabs .item,.magictabs .citem{display: block;}
	.megashop .magictabs .item .title, .megashop .magictabs .citem .title {padding: 10px 25px;background-image: none;}
	.product-featured .content-products .bx-wrapper .bx-controls-direction a.bx-prev, .product-featured .content-products .bx-wrapper .bx-controls-direction a.bx-next, .latest-deal-content .content-products .bx-wrapper .bx-controls-direction a.bx-next, .latest-deal-content .content-products .bx-wrapper .bx-controls-direction a.bx-prev{opacity: 1;visibility: visible;}
	.product-featured .content-products .bx-wrapper .bx-controls-direction a.bx-prev, .latest-deal-content .content-products .bx-wrapper .bx-controls-direction a.bx-prev{left: 0;}
	.product-featured .content-products .bx-wrapper .bx-controls-direction a.bx-next, .latest-deal-content .content-products .bx-wrapper .bx-controls-direction a.bx-next{right: 0;}
	.trademark-info {padding-left: 30px !important;padding-right: 30px !important;}
	.group-title-box,.cate-box{padding-left: 0;padding-right: 0;}
	.mini-maincart .mini-contentCart{width:100%;z-index: 1000;}
	.mini-maincart .mini-products-list .product-details,.mini-contentCart .block-content .block-subtitle{text-align:left;}
	.alo-brands .nbs-flexisel-item img{display:inline-block;}
	#backtotop{display:none !important;}
	.sidebar .bx-wrapper .item img{width: auto;}
	.col-left .magicproduct .per-product{display: inline-block;}
	.col-left .magicproduct .per-product .images-container{width: 40%;}
	.col-left .magicproduct .per-product .products-textlink {width: 60%;padding-left: 20px;}
	.magiccategory .mage-magictabs .item .per-product{margin:0 10px;}
	.products-list .item .actions-no .add-to-links{margin: 10px 0;}
	.products-list .item .actions-no .add-to-links li{margin: 5px 0;}
	.product-view .product-shop .no-display{display:none !important;}
	.product-wapper-tab .toggle-tabs,.product-wapper-tab .product-collateral{float: none;width: 100%;}
	.product-wapper-tab .product-collateral{padding: 28px 5px 30px;}
	.product-view .toggle-tabs .item.active{border-right: 1px solid #dadada;}
	.product-view .box-tags .form-add input.input-text{margin-bottom:10px;}
	.product-view .box-tags .form-add input.input-text,
	.product-view .box-tags .form-add .input-box,
	.product-view .box-reviews .form-add .form-list input.input-text, 
	.product-view .box-reviews .form-add .form-list textarea,
	.product-view .box-reviews .form-add .form-list .input-box{width: 90%;}
	.product-collateral .box-reviews .data-table thead th{text-transform: capitalize;}
	.product-view .product-shop-content {padding: 20px 0 0;}
	.block .block-title strong span{padding-left: 20px;}
	.data-table thead th{padding:10px 2px;}
	.nobr{font-size:12px;}
	.checkout-cart-index .data-table .product-image img{display: inline;}
	.data-table .custom-qty{overflow: hidden; margin: 0 auto;}
	.cart-table .btn-continue,.cart-table .btn-update, .cart-table .btn-empty{float:none;margin-left: 0;}
	.cart-table button.button{margin-top:3px;margin-bottom:3px;}
	.cart-table td{padding:30px 10px;}
	.cart .page-title{padding:10px 0;}
	.cart .crosssell{margin:20px 0 0 0;}
	.breadcrumbs li{background-position: 0 65%;}
	.blog-postbox .button-set{margin-bottom:15px;}
	.title-heading-left{padding:10px 0 5px;}
	.no-left-gutter {padding-left: 15px;}
	.no-right-gutter {padding-right: 15px;}
	.page {overflow: hidden;}
	.main .col-main {padding: 0 15px;}
	.bx-caption .banner-free .oders {font-size: 200%;}
	.banner-free .btn-shop {margin-top: 5px;padding: 9px 20px;}
	.breadcrumbs {margin: 0 0 20px;}
	.product-image-gallery .gallery-image.visible {width: 100%;}
	.cart .totals {margin: 0 0 15px 0;}
	.checkout-onepage-index .main-container {padding-top: 0;}
	.customer-account-index .main-container { margin-top: 0;}
	.block-subscribe .block-content{display: block;}
	.footer .form-subscribe-header, .footer .block-subscribe .input-box{float: none;width: 100%;text-align: left;}
	.footer .block-subscribe .input-box{padding: 0;}
	.mobile-collapsible{clear: both;margin-bottom: 20px;position: relative;}
	.footer .block-content-statick .list-inline li{float: none;}
	.trademark-list-top{margin-top: 0;}
	.trademark-list-top #payment-methods {display: block;width: 100%;}
	.support-footer-inner .row-normal{margin-bottom: 20px;}
	.support-footer-inner .support-info .info-title{font-size: 13px;}
	.block_bottom{padding: 25px 0;}
	.social-link{margin-top: 5px;}
	.paypal{float:none;width:100%;padding: 10px 20px 0;clear: both;}
	.cms-index-index .alo-blog{ margin: 0 0 40px;}
    .content-products .bx-wrapper .bx-controls-direction a, .crosssell .bx-wrapper .bx-controls-direction a{top: -28px;}
	.cms-index-index .block_testimonials{padding: 28px 0;}
	.testimonial_text .sub-text{font-size: 13px;letter-spacing: 0px;}
	.testimonials .title-name{font-size: 14px;}
	.group-title{line-height: normal;}
	.footer address{padding: 0 10px;}
	.footer-menu-box{margin-left: -10px;}
	.footer-menu-list li{display: inline-block;}
	.megashop{position: relative;}
	.megashop .content-products{padding-top: 4px}
	.megashop .toggle-tab.mobile,.mobile-collapsible .toggle-tab.mobile{color: #ffffff;cursor: pointer;display: block !important;padding: 14px 20px 18px;position: absolute;right: 0px;z-index: 0; width: 100%; text-align: right;}
    .toggle-content,.block-layered-nav .block-content{ display: none;}
	 .toggle-content.visible{ display: block;}
	.mobile-collapsible .toggle-tab.mobile,.block-layered-nav .toggle-tab.mobile{padding: 0px 10px;top: 0;width: auto;font-size: 17px;line-height: 20px;cursor: pointer;}
	.collapsible .toggle-tab:before,.block-layered-nav .toggle-tab:before{content: "";font-family: FontAwesome;}
	.collapsible.toggle-visible .toggle-tab:before,.block-layered-nav .toggle-visible .toggle-tab:before{ content: "";font-family: FontAwesome;}
	.block-layered-nav .toggle-tab.mobile{position: absolute;right: 0;display: block !important;line-height: 28px; }
	.narrow-by{position: relative;padding: 5px 0;outline:medium none !important;margin: 0;}
	.block.block-layered-nav .block-title{position: relative;}
	.block.block-layered-nav .block-title:before{content: "";font-family: FontAwesome; display: inline-block;font-size: 20px;text-align: right;width: 32px;position: absolute;right: 30px;cursor: pointer;z-index: 1;color: #666;line-height: 50px;}
	.block.block-layered-nav .block-title.active:before{content: "";line-height: 33px;}
	.mobile-collapsible .toggle-tab.mobile{color: #666;font-weight: bold;}
	.mobile-collapsible .toggle-tab.mobile:hover{color: #ff3366;}
	
}

/* 768px <= width < 960px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
#fancybox-wrap ,#fancybox-overlay{display: none !important;}
}

/* 480px <= width < 768px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .category-products .products-grid .item.col-mobile-12{padding-left: 5px;padding-right: 5px;}
    .col-main .category-products .products-grid{margin-left: -5px;margin-right: -5px;}
    .col-main .category-products .products-grid .item .actions-cart .button.btn-cart span{padding: 0 10px;font-size: 13px;}
    .col-main .category-products .products-grid .item .actions-cart .button.btn-cart span span{padding: 0;}
    .products-list .item .actions-no .add-to-links li{margin: 0;}
    .products-list .item .right-block,.products-list .item .left-block{float: none;}
    .products-list .item .actions-no .add-to-links li .link-wishlist{margin-left: 0;margin-right: 10px;}
    .products-list .item .add-to-links a{transform: none;-webkit-transform: none;}
    .product-view .toggle-tabs .item span{padding: 0 20px;}
}

@media only screen and (max-width: 639px) {
.col-mobile-plus-12{width:100%}
.col-mobile-plus-6{width:50%}
.col-mobile-plus-4{width:30.3333333333%}
.col-mobile-plus-3{width:25%}
.col-mobile-plus-2{width:16.6666666666%}
.col-mobile-plus-1{width:8.33333333333%}
.col2-set .col-1 { width: 100%;margin-bottom: 20px;}
.col2-set .col-2 {float: right;width: 100%;}
.account-login .content { min-height: 100px;}
.account-login .buttons-set {margin: 0; padding: 0;}
}

@media only screen and (min-width: 480px) and (max-width: 639px) {
	.products-list li.item .product-shop .f-fix{padding-right: 0;}
	.product-secondary{margin-top: 10px;}
	.products-list .item .right-block,.products-list .item .left-block{float: none;}
	table#wishlist-table,table#shopping-cart-table, table#checkout-review-table, table#my-orders-table {border: 0 none;outline: medium none;}
	table#wishlist-table td, 
	table#wishlist-table th table#product-review-table td, 
	table#shopping-cart-table td, 
	table#shopping-cart-table th, 
	table#checkout-review-table td, 
	table#checkout-review-table th, 
	table#my-orders-table th, 
	table#my-orders-table td {display: block;float: none;text-align: center !important;}
	.data-table td.last { border-bottom: 1px solid #dddddd !important;}
	.data-table tfoot {border-bottom: none;}
	.data-table thead th{border-left: 1px solid #dddddd;border-bottom: 0 none;}
	.data-table thead.hidden-phone{display:none;}
	.data-table tbody th, .data-table tbody td{border-bottom: 0;}
	.product-view .box-reviews .form-add .data-table td{border-bottom: 1px solid #DDDDDD !important;}
}

/* width < 320px */
@media only screen and (max-width: 479px) {
.col-mobile-12{width:100%}
.col-mobile-6{width:50%}
.col-mobile-4{width:30.3333333333%}
.col-mobile-3{width:25%}
.col-mobile-2{width:16.6666666666%}
.col-mobile-1{width:8.33333333333%}
.block-title h2 span {font-size: 20px;}
.cartSummary .icon-cart {font-size: 17px;}
.nbs-flexisel-item img {display: inline-block;}
.product-view .product-shop .add-to-links {clear: both;display: block;padding-top: 10px;}
.product-view .product-shop .add-to-links li, 
.product-view .product-shop .add-to-links li .separator {margin: 0 10px 0 0;}
.product-view .toggle-tabs .item, .product-view .toggle-tabs .item span {display: block; width: 100%}
.banner-opacity .img-responsive {margin: 0 auto}
.cart-table td{padding: 10px;}
.products-list .item .actions-no .add-to-links li{margin: 0;}
.products-list .item .actions-no .add-to-links li .link-wishlist{margin-left: 0;margin-right: 10px;}
.products-list .item .right-block,.products-list .item .left-block{float: none;}
.products-list li.item .product-shop .f-fix{padding: 0 10px;}
 .sprite {
        background: url('../../../images/mirasvit/sprite.png');
    }

}

@media only screen and (min-width: 320px) and (max-width: 479px) {
.sorter .view-mode,.sorter .sort-by,.sorter .limiter,.sorter .pull-right{ display: inline-block;float: none !important;padding: 5px 0;border: 0;vertical-align: top;}
.toolbar-bottom .toolbar .sorter,.toolbar .sorter{text-align: center;}
.toolbar .pager{float: none;padding-top: 5px;}
.product-view .product-img-box .more-views{width: 200px;}
}

/* Iphone 4 landscape */
@media (max-width: 360px) {
	.category-products .products-grid > li {width: 100%;}
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  
	table#wishlist-table,table#shopping-cart-table, table#checkout-review-table, table#my-orders-table {border: 0 none;outline: medium none;}
	table#wishlist-table td, 
	table#wishlist-table th table#product-review-table td, 
	table#shopping-cart-table td, 
	table#shopping-cart-table th, 
	table#checkout-review-table td, 
	table#checkout-review-table th, 
	table#my-orders-table th, 
	table#my-orders-table td {display: block;float: none;text-align: center !important;}
	.data-table th, .data-table td.last { border-bottom: 1px solid #DDDDDD !important;}
	.data-table tbody th, .data-table tbody td{border-bottom: 0px solid #dddddd;}
	.product-view .box-reviews .form-add .data-table td{border-bottom: 1px solid #DDDDDD !important;}
	.data-table tfoot {border-bottom: none;}
	.checkout-cart-index .col-main .page-title h1, .checkout-cart-index .col-main .page-title h2 {float: none;text-align: center;}
	.data-table thead.hidden-phone{display:none;}
	.cart .title-buttons .checkout-types,.cart .title-buttons .checkout-types li{float: none;text-align:center;}
	.cart .title-buttons .checkout-types{margin-top:10px;}
	.col2-set,.col2-set2 { float: none;width: 100%;margin-bottom: 10px;}
	.account-login .col2-set,.account-login .col2-set2 { float: none;width: 100%;margin-bottom: 10px;}
	.multiple-checkout .col2-set .col-1,.multiple-checkout .col2-set .col-2 {float: none;width: 100%;margin-bottom: 10px;}
	.my-wishlist .buttons-set {text-align: center; padding: 20px 0 0;}
	.my-wishlist thead.hidden-phone{display:none;}
	a.btn-edit, a.btn-remove{margin:0 auto;float:none;}
	.mini-contentCart .product-details a.btn-remove,.mini-contentCart .product-details a.btn-edit{float: left;margin: 0 5px 0 0;}
	.footer .store-switcher{margin:0;}
	.magic-category .magictabs .item:first-child{padding-left:0;}
	#toPopup{left:18%;top: 10%;}
	.box-support ul li{margin-top:10px;}
	.wrapper{overflow:hidden;}
	.blog-static .flexisel-content .item{margin-bottom:15px;}
	.product-view .product-img-box .more-views .nbs-flexisel-item img{display:inline;}
	.box-up-sell{margin-bottom:15px;}
	#popup-newsletter .block-content{padding: 40px 10px 0;}
	#popup-newsletter .form-subscribe-header label{font-size: 14px;}
	#popup-newsletter .block-content .promotions{font-size: 70px;line-height: 55px;}
	#popup-newsletter .block-content .promotions2{font-size: 80px;line-height: 60px;}
	#popup-newsletter .block-content .promotions2 span{font-size: 50px;line-height: 50px;}
	#popup-newsletter .block-content .input-box{width: 200px;}
	
} 

/* IPHONE 4 + 5 Portrait */
@media only screen and (min-width: 240px) and (max-width: 320px) {
	.play .caption1{top: 10%;}
	.play .caption2, .play .caption2 strong{top: 35%;}
	.play .caption3{top: 49%;font-size: 15px;line-height: 15px;}
	.play .caption4, .play .text-slide3 .caption4{bottom: 35px;}
    .play .text-slide2 .caption1{top: 25%}
    .deal-of img{max-width: 300%;width: auto;}
    .wrapper{overflow:hidden;}
	.block .block-title strong span, .footer h3, .account-login .content h2,.block-footer-top .footer h3 span,
	.block-related .block-title h3 span, .box-up-sell .block-title h3 span, .crosssell h3 span,.block .block-title strong span,.account-login .content h2{font-size:12px;}
	.magic-category .magictabs .item{margin-bottom:5px;padding: 0 5px 0 0;}
	.magic-category .magictabs .item:first-child{padding-left:0;}
	.footer .store-switcher{margin:0;}
	.sorter .view-mode,.sorter .sort-by,.sorter .limiter,.sorter .pull-right{ display: inline-block;float: none !important;margin: 0;padding: 5px 0;border: 0;}
	.box-support,.header .top-form-language,.header .currency_top,.header-top-right.pull-right{padding-top:0;}
	#products-list .item .product-shop{ margin-top: 20px;}
	#popup-newsletter .block-content .promotions{font-size: 60px;line-height: 45px;}
	#popup-newsletter .block-content .promotions2{font-size: 70px;line-height: 50px;}
	#popup-newsletter .block-content .promotions2 span{font-size: 40px;line-height: 40px;}
	#popup-newsletter .block-content .input-box{width: 200px;}
	#popup-newsletter .block-content button.button{border-left: 1px solid #cfcfcf;}
	#popup-newsletter .subscribe-bottom{margin: 30px 0 0;}
	.product-view .product-shop .add-to-links a{margin-bottom:10px;display:inline-block;}
	.box-support ul li{background:none;}
	#toPopup{left:3%;}
	.blog-static .flexisel-content .item{margin-bottom:15px;}
	.box-up-sell{margin-bottom:15px;}
	.product-view .product-img-box .more-views{width: 195px;}
	.product-shop .ratings .rating-links{ margin: 10px 0px 10px;}
	.testimonials .title-name {font-size: 11px;}
	.blog_short_text {padding: 0 0 0 20px;}
	.post-date{margin-bottom: 15px;}
	.footer-menu-list li{display: inline-block;}
	
}
@media only screen and (min-width: 240px) and (max-width: 319px) {
	.sorter .view-mode,.sorter .sort-by,.sorter .limiter,.sorter .pull-right{width: 100%;text-align: left;}
	.toolbar-bottom .toolbar .pager{float: left;}
}







