<?php
$_helper = Mage::helper('searchautocomplete');
$_query  = Mage::helper('catalogsearch')->getQueryText();
?>
<?php if (count($this->getIndexes()) > 0): ?>
	<?php $reverse_index = array_reverse($this->getIndexes()); ?>
    <div class="top"></div>
	<ul style="background-color:#ffffff">
    <?php foreach ($reverse_index as $_index => $_label): ?>
        <?php if (count($this->getIndexes()) > 1): ?>
        <div class="index-title" style="background-color:#f6f6f6;padding-left:10px">
            <b>
			<?php if($_label == "Products") { ?> 
				<?php echo $this->__("Popular Products") ?>
				<span>&nbsp;(<?php echo $this->getCollection($_index)->getSize() ?>)</span>
			<?php } else if($_label == "Queries") { ?>
				<?php echo $this->__("Most Searched Queries") ?>
				<span>&nbsp;(<?php echo $this->getCollection($_index)->getSize() ?>)</span>
			<?php } else { ?>
				<?php //echo $this->__($_label) ?>
			<?php } ?> 	
			</b>
            <!--<?php //echo $this->getRequest()->getParam('q').' in Categories'?>-->
		</div>
        <?php endif ?>
        <!--<ul>-->
        <?php
            $_collection = $this->getCollection($_index);
        ?>
        <?php foreach ($_collection as $_item): ?>
            <?php echo $this->getItemHtml($_index, $_item) ?>
        <?php endforeach ?>
        
    <?php endforeach ?>
	
    <div class="all" style="text-align:center">
		<a href="<?php echo Mage::getUrl('catalogsearch/result', array('_query' => array('q' => $_query))) ?>">
		<?php echo $this->__('All search results →') ?>
		</a>
	</div>
	</ul>
    <!--<div class="clearfix"></div>-->
<?php endif ?>