<?php
/**
 * Magiccart 
 * @category 	Magiccart 
 * @copyright 	Copyright (c) 2014 Magiccart (http://www.magiccart.net/) 
 * @license 	http://www.magiccart.net/license-agreement.html
 * @Author: Magiccart<team.magiccart@gmail.com>
 * @@Create Date: 2014-05-08 22:57:12
 * @@Modify Date: 2015-09-18 11:47:06
 * @@Function:
 */
 ?>
<?php if(!$this->getGeneralCfg('enabled')) return; ?>
<?php if($this->getStatus() == 2) return; ?>
<?php $selector = $this->generateRandomString(); //md5(rand()); //rand(0,666666); ?>

<div class= "<?php echo $selector?> magiccategory">
<?php
$tabs = $this->getTabs();
$ajax = json_encode($this->getProductCfg());
$images = $this->getImages();
$width  = 227;
$height = 348;
$idHtml = $this->generateRandomString();
if(count($tabs)): ?>
    <div class="magic-category">
    	<!-- <span class="toggle-tab mobile" style="display:none"><i class="fa fa-bars"></i></span> -->
		<div class="block-title-tabs clearfix">
		<?php echo $this->getTitle() ?  '<h3 class="title">'.$this->__($this->getTitle()).'</h3>' : ''; ?>
			<ul class="magictabs" data-ajax ='<?php echo $ajax ?>'>
				<?php $active = $this->getTabActive();
					$limit = $this->getNumProduct();
					foreach ($tabs as $id => $name):
						$status = ($id == $active) ? 'active loaded' : '';
						echo '<li class="item '.$status.'" data-type ="'.$id.'"><span class ="title">'.$this->__($name).'</span></li>';
					endforeach;
				?>
			</ul>
		</div>
	</div>
<?php endif ?>
	<div class="ajax_loading" style="display:none" data-url="<?php echo $this->getUrl('magiccategory/index/ajax')?>">
		<img src="<?php echo $this->getSkinUrl('magiccart/plugin/images/loading.gif')?>" alt="<?php echo $this->__('Loading...');?>"/>
	</div>

	<div class="box-product-content clearfix">
		<?php $numImage = count($images);?>
		<?php if(isset($images) && !empty($images) && $numImage>0) : ?>
			<div class="box-product-adv">
				<div class="promotion">
					<div id="<?php echo $idHtml ?>">
					<?php $start = 'play start' ?>
					<?php foreach($images as $image): ?>
						<div class="item">
							<a  href="<?php echo ( isset($image['link']) && $image['link'] ) ? ($image['link']) : '#'; ?>">
								<img src="<?php echo $this->helper('magiccategory')->resizeImg($image['file']);?>" alt="<?php echo $image['label'] ? $image['label'] : 'promotions' ?>">
							</a>
							<?php if(isset($image['html']) && $image['html']) : ?>
								<div class="bx-caption <?= $start ?>">
									<?php echo $image['html'] ?>
								</div>
							<?php endif ?>
						</div>
						<?php $start = '' ?>
					<?php endforeach;?>
					</div>
				</div>
			</div>	
			<?php if($numImage >1): ?>
				<script type="text/javascript">
					jQuery(document).ready(function($){
						$('#<?php echo $idHtml ?>').bxSlider({
							auto: false,
							captions: true,
							<?php //echo $this->getBxslider() ?>
							onSlideBefore: function(el) {
								el.siblings().find('.bx-caption').removeClass('play');
								el.find('.bx-caption').addClass('play').addClass('start');				
							},
						});
					});
				</script>
			<?php endif ?>
		<?php endif;?>
		<?php 
			$margin  = (int) $this->getData('marginColumn');
			$slide   = json_encode($this->setFlexiselArray());
			$options = json_encode($this->getItemsDevice());
		?>
		<div class="box-product">
			<div class="content-products" data-margin="<?php echo $margin ?>" data-slider='<?php echo $slide ?>' data-options='<?php echo $options; ?>'>
				<?php echo $this->getContentActive('magiccart/magiccategory/product/grid.phtml');?>
			</div>
		</div>

	</div>
	<!-- MAP -->
	<?php echo $this->getChildHtml('product.tooltip');?>
	<!-- MAP -->
</div>

<script type="text/javascript">
jQuery(document).ready(function ($) {
	jQuery(".<?php echo $selector?>").magicproduct({
		selector : ".<?php echo $selector?>", // Selector product grid
	});
// 	var slider = $(".content-products .flexisel-content").bxSlider({
// 	moveSlides: 2,
// 	infiniteLoop:false,
// 	maxSlides:'4',
// 	// "slideWidth":"140",
// 	mode:'vertical',
// 	minSlides:2,	

// 	// //minSlides: 2,
// 	// maxSlides: 4,
// 	// infiniteLoop: false,
// 	// minSlides: 3,
// 	// moveSlides: 2,
// 	// mode: 'vertical',
// 	// slideMargin: 10,


// });
});
</script>

