#category_carousel .item {
  font-weight: 600;
  margin: 3px;
  text-align: center;
}
#category_carousel .item img {
	display: block;
	/*width: 100%;
	height: auto;*/
	width: 150px;
	height: 150px;
	
}
.owl-theme .owl-controls {
	margin-top: 10px;
	text-align: center;
	position: relative;
	top: -136px !important;
}
/* Styling Next and Prev buttons */

/*.owl-theme .owl-controls .owl-buttons div {
	color: #FFF;
	display: inline-block;
	zoom: 1;
 display: inline;/*IE7 life-saver
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #869791;
	filter: Alpha(Opacity=50);/*IE7 fix
	opacity: 0.5;
}*/

.owl-theme .owl-controls .owl-buttons div {
	color: #000;
	display: inline-block;
	zoom: 1;
 /*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	font-size: 24px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 0px;
	background: #efefef;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 1;
	box-shadow: 0 0 8px #000;
	font-weight: bold !important;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}
/* Styling Pagination*/

.owl-theme .owl-controls .owl-page {
	display: inline-block;
	zoom: 1;
 *display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}
/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers {
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
/* preloading images */
.owl-item.loading {
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}
/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel {
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper {
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer {
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item {
	float: left; margin:0 6px 0 0;
}
.owl-controls .owl-page, .owl-controls .owl-buttons div {
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* mouse grab icon */
.grabbing{ 
    cursor:url(grabbing.png) 8 8, move;
}

.grabbing a{ 
    cursor:url(grabbing.png) 8 8, move;
}


/* fix */
.owl-carousel .owl-wrapper, .owl-carousel .owl-item {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
}

.owl-item { width: auto !important }

.owl-prev { float:left; }

.owl-next { float:right !important; }

/*.owl-controls.clickable { top; -131px !important }*/
/*#category_carousel .item {
    background: #efefef none repeat scroll 0 0;
    border: 1px solid #bbbbbb;
    border-radius: 0;
    box-shadow: 4px 4px 3px #e4e4e4;
    display: inline-table;
    font-weight: 600;
    margin: 6px;
    padding: 10px 0 8px;
    text-align: center;
    vertical-align: middle;
    width: 95%;
}
#category_carousel .item img {
    display: inline-block !important;
    height: auto;
    max-height: 100px;
    max-width: 100%;
    text-align: center;
    vertical-align: middle;
    width: auto;
}
.item #carousel-name {
    color: #424242;
    float: left;
    font-size: 13px;
    font-weight: bold;
    margin: 4px 0 0;
    text-transform: uppercase;
    width: 100%;
}
*/