/**
 * CedCommerce
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
  * http://opensource.org/licenses/osl-3.0.php
 *
 * @category    Ced
 * @package     Ced_SocialLogin
 * @author      CedCommerce Magento Core Team <Ced_MagentoCoreTeam@cedcommerce.com>
 * @copyright   Copyright CedCommerce (http://cedcommerce.com/)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

/**
 * @category    Ced
 * @package     Ced_SocialLogin
 * @author      CedCommerce Magento Core Team <Ced_MagentoCoreTeam@cedcommerce.com>
 */


div.ced-sociallogin-google-inner {
    height: 39px !important;
    width: 200px !important;
    margin: 0px auto !important;
    padding: 0 5px !important;
    text-shadow: 1px 1px #1c376d;
    background-size: 98px auto;
}

div.ced_google_connect {
    background: transparent url('../images/social_connect_go.png') no-repeat top left !important;
    width: 200px !important;
}


div.ced_google_disconnect{
    background: transparent url('../images/social_disconnect_go.png') no-repeat top left !important;
 }


div.ced-sociallogin-google-inner a{
    color: #FFFFFF !important;
    padding: 0 !important;
    margin: 0 !important;
    text-decoration: none !important;
    line-height: 30px !important;
}        
