<?php
    $_productCollection=$this->getLoadedProductCollection();
    $_helper = $this->helper('catalog/output');
?>
<?php if(!$_productCollection->count()): ?>
<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
<?php
    $helpLabels = $this->helper('alothemes/labels');
    $listCfg = Mage::getStoreConfig('alothemes/list'); //290;
	$width   = $listCfg['widthImages']; //Mage::getStoreConfig('alothemes/list/widthImages'); //290;
	$height  = $listCfg['heightImages']; //Mage::getStoreConfig('alothemes/list/heightImages'); //370;
    $devices = array(0 =>'mobile', 361 =>'mobile', 480 =>'portrait', 640=>'landscape', 768=>'tablet', 992=>'desktop', 1200=>'visibleItems');
    // $options = array(0 =>'col-mobile', 480 =>'col-mobile-plus', 640=>'col-xs', 768=>'col-sm', 992=>'col-md', 1200=>'col-lg');
    $prcents = array(1 => '100%', 2 => '50%', 3 => '33.333333333%', 4 => '25%', 5 => '20%', 6 => '16.666666666%');
    $classResponsive   = $styles = '';
    $padding = $listCfg['padding'];
    $max = count($devices);
    $i   = $tmp= 1;
    foreach ($devices as $key => $value) {
        $tmpKey = ( $i == 1 || $i == $max) ? $value : current($devices);
        // $classResponsive  .= ' '.$options[$key] .'-'. (12/$listCfg[$tmpKey]);
        if($i >1){
            $styles .= ' @media (min-width: '. $tmp .'px) and (max-width: ' . ($key-1) . 'px) {.category-products .products-grid > li{padding: 0 '.$padding.'px; width: '.$prcents[$listCfg[$value]] .'} .category-products .products-grid > li:nth-child(' .$listCfg[$value]. 'n+1){clear: left;}}';
            next($devices);           
        }
        if( $i == $max ) $styles .= ' @media (min-width: ' . $key . 'px) {.category-products .products-grid > li{padding: 0 '.$padding.'px; width: '.$prcents[$listCfg[$value]] .'} .category-products .products-grid > li:nth-child(' .$listCfg[$value]. 'n+1){clear: left;}}';
        $tmp = $key;
        $i++;
    }
?>
<style type="text/css"><?php echo $styles ?></style>
<?php if (!$this->getRequest()->isAjax()): ?>
<div id="ajax-errors" style="display: none;">
    <ul class="messages">
        <li class="error-msg">
            <ul>
                <li><span><?php echo $this->__('An error occurred, please try again later.'); ?></span></li>
            </ul>
        </li>
    </ul>
</div>
<div id="loading" class="please-wait" style="display: none;">
    <img alt="loading" src="<?php echo $this->getSkinUrl('images/ajax-loader.gif'); ?>"> <?php echo $this->__('Loading, please wait...'); ?>
</div>
<div id="catalog-listing">
<?php endif; ?>
    <div class="category-products">
        <?php echo $this->getToolbarHtml() ?>
        <?php // List mode ?>
        <?php if($this->getMode()!='grid'): ?>
    <?php $_iterator = 0; ?>
    <ol class="products-list" id="products-list">
    <?php foreach ($_productCollection as $_product): ?>
        <li class="item<?php if( ++$_iterator == sizeof($_productCollection) ): ?> last<?php endif; ?>">
		    <div class="row">
		    <div class="col-mobile-12 col-xs-5 col-md-4 col-sm-4 col-lg-4">
			   <div class="products-list-container">
				    <div class="images-container">
						<div class="product-hover">
							<?php // Product Image ?>
							<?php echo $helpLabels->getLabels($_product); //Product labels ?>
							<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
								<?php /* Based on the native RWD styling, product images are displayed at a max of ~400px wide when viewed on a
										one column page layout with four product columns from a 1280px viewport. For bandwidth reasons,
										we are going to serve a 300px image, as it will look fine at 400px and most of the times, the image
										will be displayed at a smaller size (eg, if two column are being used or viewport is smaller than 1280px).
										This $_imgSize value could even be decreased further, based on the page layout
										(one column, two column, three column) and number of product columns. */ ?>
								<?php //$_imgSize = 300; ?>
								<img id="product-collection-image-<?php echo $_product->getId(); ?>" class="img-responsive" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($width , $height); ?>" width="<?php echo $width ?>" height="<?php echo $height ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
							
							    <?php $imagehv = $_product->load('media_gallery')->getMediaGalleryImages()->getItemByColumnValue('position','2');
									if($imagehv): $imagehv = $imagehv->getFile();
								?>
									<span class="product-img-back">
										<img class="img-responsive" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image', $imagehv)->resize($width , $height); ?>" width="<?php echo $width ?>" height="<?php echo $height ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
									</span>
								<?php endif ?>
							
							</a>
						</div>
				     </div>
				</div>
			</div>
            <?php // Product description ?>
            <div class="product-shop col-mobile-12 col-xs-7 col-md-8 col-sm-8 col-lg-8">
                <div class="f-fix">
                    <div class="product-primary products-textlink clearfix">
                        <div class="left-block clearfix">
	                        <?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
	                        <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a>
	                        </h2>
			                    
	                        <?php if($_product->getRatingSummary()): ?>
	                        <?php echo $this->getReviewsSummaryHtml($_product) ?>
	                        <?php endif; ?>
	                        <?php echo $this->getPriceHtml($_product, true) ?>
	                        <?php
	                        // Provides extra blocks on which to hang some features for products in the list
	                        // Features providing UI elements targeting this block will display directly below the product name
	                        if ($this->getChild('name.after')) {
	                            $_nameAfterChildren = $this->getChild('name.after')->getSortedChildren();
	                            foreach ($_nameAfterChildren as $_nameAfterChildName) {
	                                $_nameAfterChild = $this->getChild('name.after')->getChild($_nameAfterChildName);
	                                $_nameAfterChild->setProduct($_product);
	                                echo $_nameAfterChild->toHtml();
	                            }
	                        }
	                        ?>
	                        <div class="products-sku">
		                        <span class="text-sku"><?php echo $this->__('Item Code:') ?></span>
			                 	<?php echo $sku = Mage::getModel('catalog/product')->load($_product->getId())->getSku(); ?>
			                 </div>
                        </div>
                        <div class="right-block clearfix">
                        	  <div class="product-secondary actions-no actions-list clearfix">
		                        <?php if($_product->isSaleable()): ?>
		                            <p class="action"><button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button></p>
		                        <?php else: ?>
		                            <p class="action availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
		                        <?php endif; ?>
		                        <ul class="add-to-links">
		                            <?php if ($this->helper('wishlist')->isAllow()) : ?>
		                                <li class="pull-left"><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" title="<?php echo $this->__('Add to Wishlist') ?>" class="link-wishlist"><i class="icon-heart icons"></i><?php echo $this->__('Add to Wishlist') ?></a></li>
		                            <?php endif; ?>
		                             <li class="pull-left link-view"> 
										<a title="<?php echo $this->__('Quick View') ?>" href="<?php echo $this->getUrl('magicshop/quickview/view') .'id/'.$_product->getId()?>" class="link-quickview"><i class="fa fa-search icons"></i><?php echo $this->__('Quick View') ?></a>
									</li>
		                        </ul>
			                </div>
                        </div>
						
                    </div>
					 <div class="desc std">
                        <?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                    </div>
	            </div>
            </div>
			</div>
        </li>
    <?php endforeach; ?>
    </ol>
    <script type="text/javascript">decorateList('products-list', 'none-recursive')</script>

        <?php else: ?>

        <?php // Grid Mode ?>

    <?php $_collectionSize = $_productCollection->count() ?>
    <?php $_columnCount = $this->getColumnCount(); ?>
    <ul class="products-grid row products-grid--max-<?php echo $_columnCount; ?>-col">
        <?php $i=0; foreach ($_productCollection as $_product): ?>
            <?php /*if ($i++%$_columnCount==0): ?>
            <?php endif*/ ?>
            <li class="<?php echo $classResponsive ?> item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?><?php endif; ?>">
			    <div class="category-products-grid">
				    <div class="images-container">
					    <div class="product-hover">
							<?php echo $helpLabels->getLabels($_product); //Product labels ?>
							 <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
								<img id="product-collection-image-<?php echo $_product->getId(); ?>" class="img-responsive" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($width , $height); ?>" width="<?php echo $width ?>" height="<?php echo $height ?>"
									 alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
							 
								 <?php $imagehv = $_product->load('media_gallery')->getMediaGalleryImages()->getItemByColumnValue('position','2');
									if($imagehv): $imagehv = $imagehv->getFile();
								?>
									<span class="product-img-back">
										<img class="img-responsive" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image', $imagehv)->resize($width , $height); ?>" width="<?php echo $width ?>" height="<?php echo $height ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
									</span>
								<?php endif ?>
							 </a>
						</div>
						<div class="actions-no hover-box">
						    <a class="detail_links" href="<?php echo $_product->getProductUrl() ?>" ></a>
							<div class="actions">
								<ul class="add-to-links pull-left-none">
									<?php if ($this->helper('wishlist')->isAllow()) : ?>
										<li class="pull-left-none"><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" title="<?php echo $this->__('Add to Wishlist') ?>" class="link-wishlist"><i class="fa fa-heart-o icons"></i><?php echo $this->__('Add to Wishlist') ?></a></li>									 
									<?php endif; ?>
									<li class="link-view pull-left-none"> 
										<a title="<?php echo $this->__('Quick View') ?>" href="<?php echo $this->getUrl('magicshop/quickview/view') .'id/'.$_product->getId()?>" class="link-quickview"><i class="fa fa-search icons"></i><?php echo $this->__('Quick View') ?></a>
									</li>
								</ul>
							</div>
							<div class="actions-cart">
                                <?php if($_product->isSaleable()): ?>
									<button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart pull-left-none" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
								<?php else: ?>
									<p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
								<?php endif; ?>
							</div>
						</div>
					</div>
					
					<div class="product-info products-textlink clearfix">
						<h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
						<?php
						// Provides extra blocks on which to hang some features for products in the list
						// Features providing UI elements targeting this block will display directly below the product name
						if ($this->getChild('name.after')) {
							$_nameAfterChildren = $this->getChild('name.after')->getSortedChildren();
							foreach ($_nameAfterChildren as $_nameAfterChildName) {
								$_nameAfterChild = $this->getChild('name.after')->getChild($_nameAfterChildName);
								$_nameAfterChild->setProduct($_product);
								echo $_nameAfterChild->toHtml();
							}
						}
						?>
						<?php echo $this->getPriceHtml($_product, true) ?>
						<?php if($_product->getRatingSummary()): ?>
				        	<?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
				        <?php endif; ?>
                    </div>
				</div>
            </li>
            <?php /*if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
            <?php endif*/ ?>
        <?php endforeach ?>
    </ul>
    <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
    <?php endif; ?>

        <div class="toolbar-bottom">
            <?php echo $this->getToolbarHtml() ?>
        </div>
    </div>
<?php if (!$this->getRequest()->isAjax()): ?>
</div>
<?php endif; ?>
<?php endif; ?>

<?php
//set product collection on after blocks
$_afterChildren = $this->getChild('after')->getSortedChildren();
foreach($_afterChildren as $_afterChildName):
    $_afterChild = $this->getChild('after')->getChild($_afterChildName);
    $_afterChild->setProductCollection($_productCollection);
    ?>
    <?php echo $_afterChild->toHtml(); ?>
<?php endforeach; ?>

<script type="text/javascript">
    //<![CDATA[
    <?php if ($this->helper('catalin_seo')->isAjaxEnabled()): ?>
    CatalinSeoHandler.isAjaxEnabled = true;
    CatalinSeoHandler.urlSuffix = <?php echo json_encode(Mage::getStoreConfig('catalog/seo/category_url_suffix')) ?>;
    <?php endif; ?>
    CatalinSeoHandler.bindListeners();
    //]]>
</script>
