<?php
/**
 * CedCommerce
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
  * http://opensource.org/licenses/osl-3.0.php
 *
 * @category    Ced
 * @package     Ced_SocialLogin
 * @author 		CedCommerce Magento Core Team <Ced_MagentoCoreTeam@cedcommerce.com>
 * @copyright   Copyright CedCommerce (http://cedcommerce.com/)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

/**
 * @category   	Ced
 * @package    	Ced_SocialLogin
 * @author 		CedCommerce Magento Core Team <Ced_MagentoCoreTeam@cedcommerce.com>
 */
 
?>
<div class="ced-sociallogin-checkout" >
    <div class="<?php echo $this->_getColSet(); ?>" style="top: 305px;">
	<!--<div class="<?php echo $this->_getColSet(); ?>" style="position: absolute; top: 305px;">-->
  <?php /*  <h3>SocialLogin</h3> */ ?>
        <?php if($this->_googleEnabled()): ?>
        <div class="<?php echo $this->_getCol(); ?>">
            <?php echo $this->getChildHtml('ced_checkout_google_button')?>
        </div>
        <?php endif; ?>
        <?php if($this->_facebookEnabled()): ?>
        <div class="<?php echo $this->_getCol(); ?>">
            <?php echo $this->getChildHtml('ced_checkout_facebook_button')?>
        </div>
        <?php endif; ?>
        <?php if($this->_twitterEnabled()): ?>
        <div class="<?php echo $this->_getCol(); ?>">
            <?php echo $this->getChildHtml('ced_checkout_twitter_button')?>
        </div>
        <?php endif; ?>
        <?php if($this->_linkedinEnabled()): ?>
        <div class="<?php echo $this->_getCol(); ?>">
            <?php echo $this->getChildHtml('ced_checkout_linkedin_button')?>
        </div>
        <?php endif; ?>
    </div>
</div>
