<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name = "viewport" content = "user-scalable=no, width=device-width">
<meta name="apple-mobile-web-app-capable" content="yes" />
<script type="text/javascript" src="https://www.entertainmentstore.in/test/js/jquery.flexisel.js"></script>
<!--<script type="text/javascript" src="https://www.entertainmentstore.in/test/js/jquery.tipsy.js"></script>-->

</head>

<body>

<div class="clearout"></div>

<ul id="flexiselDemo4">
	<?php 
 $resource = Mage::getSingleton('core/resource');
 $readConnection = $resource->getConnection('core_read');
 $result = $readConnection->query("select * from custom_entsto_chart ORDER BY id ASC");
  $row = $result->fetchAll();
	   if (!empty($row))  {
		foreach($row as $date)
			{
				$id_cat = $date['cat_id'];
				$category = Mage::getModel('catalog/category')->load($id_cat); 
				$catUrl = $category->getUrl();
				$catThumbnail = $category->getThumbnail();
				$ThumbnailUrl = Mage::getBaseUrl('media').'catalog/category/'. $catThumbnail;				
				$catName = $category->getName();
			?>
	<li>   
<a href="<?php echo $catUrl; ?>">
    <img class="img-responsive" alt="<?php echo $catThumbnail; ?>" src="<?php echo $ThumbnailUrl; ?>">      
	<span><?php echo $catName; ?></span> 
</a>	
    </li> 
			<?php
			}	
			}
?>         
	
</ul> 

<script type="text/javascript">

jQuery(window).load(function() {
    jQuery("#flexiselDemo4").flexisel({
        visibleItems: 7,
        itemsToScroll: 1,
        animationSpeed: 200,
        infinite: false,
        navigationTargetSelector: null,
        autoPlay: {
            enable: true,
            interval: 5000,
            pauseOnHover: true
        },
        responsiveBreakpoints: { 
            portrait: { 
                changePoint:480,
                visibleItems: 1,
                itemsToScroll: 1
            }, 
            landscape: { 
                changePoint:640,
                visibleItems: 2,
                itemsToScroll: 2
            },
            tablet: { 
                changePoint:768,
                visibleItems: 3,
                itemsToScroll: 3
            }
			,tablet: { 
                changePoint:850,
                visibleItems: 4,
                itemsToScroll: 4
            }
        }
    });  
});
</script>
    
    
</body>
</html>