<?php
/**
 * Magento

 */
?>

<?php
/**

 */
$items = $this->getItems();

$raaHelper = Mage::helper('retail_analytics');
$raaPriceHelper = Mage::helper('retail_analytics/price');
$helperdata = Mage::helper('retail_analytics/data');
$width = $helperdata->getImageWidth();
$height = $helperdata->getImageHeight();
$imagetype = "small_image";
?>

<?php if (!empty($items)): ?>
<!-- Raa Cart Tagging -->
<div class="raa_cart" style="display:none">
    <?php foreach ($items as $item): ?>
    <?php $product = $item->getProduct(); ?>
    <div class="line_item">    	
    	 <span class="raa_entity_id" data-key="true"><?php echo $this->getProductId($item); ?></span>
        <span class="raa_product_id" data-key="true"><?php echo $this->getProductId($item); ?></span>
         <span class="raa_sku" data-key="true"><?php echo $this->getProductSku($item); ?></span>
        <span class="raa_quantity"><?php echo (int)($item->getQty()); ?></span>
        <span class="raa_name"><?php echo $raaHelper->escapeHtml($item->getName()); ?></span> 
        <span class="raa_price"><?php echo $raaPriceHelper->getFormattedPrice($item->getPriceInclTax()); ?></span> 
            
       <span class="raa_store_currency_code"><?php echo Mage::app()->getStore()->getCurrentCurrencyCode(); ?></span> 
     	<span class="raa_base_currency_code"><?php echo Mage::app()->getStore()->getBaseCurrencyCode(); ?></span> 
     	
        <span class="raa_url"><?php echo $product->getProductUrl(); ?></span> 
             
        <span class="raa_imageurl" ><?php echo $this->getRaaImageURL($item); ?></span>
        <span class="raa_cacheimageurl" ><?php echo (string)Mage::helper('catalog/image')->init($product, $imagetype)->resize($width,$height); ?></span>
    	
    </div>
    <?php endforeach; ?>
</div>
<?php endif; ?>