<?php

?>

<?php

$raaHelper = Mage::helper('retail_analytics');

?>

<!-- Raa Category Tagging -->
<div class="raa_category" style="display:none">
	<span class="raa_category_id" data-key="true"><?php echo $raaHelper->escapeHtml($this->getCategory()); ?></span>	
</div>