<?php
/**
 * Magento
 */
?>

<?php
/**
 */
$customer = $this->getCustomer();
$raaHelper = Mage::helper('retail_analytics');
?>

<!-- Raa Customer Tagging -->
<div class="raa_customer" style="display:none">	
    <span class="raa_entity_id" data-key="true"><?php echo $raaHelper->escapeHtml($customer->getId()); ?></span>
    <span class="raa_customer_id" data-key="true"><?php echo $raaHelper->escapeHtml($customer->getId()); ?></span>
    <span class="raa_firstname"><?php echo $raaHelper->escapeHtml($customer->getFirstname()); ?></span>
    <span class="raa_lastname"><?php echo $raaHelper->escapeHtml($customer->getLastname()); ?></span>
    <span class="raa_email" data-key="true"><?php echo $raaHelper->escapeHtml($customer->getEmail()); ?></span>    
    <span class="raa_phone"><?php echo $raaHelper->escapeHtml($customer->getPhone()); ?></span>
</div>