<?php
/** 
 */
?>

<?php

$onsiteHelper = Mage::helper('retail_analytics/onsite');
$pageid = $this->getElementId();
$reco_slots = $onsiteHelper->getPageSlots($pageid,null,null);
$headerBlockId = $onsiteHelper->getCmsBlockID($pageid,"header");
$contentBlockId = $onsiteHelper->getCmsBlockID($pageid,"content");
$scriptBlockId = $onsiteHelper->getCmsBlockID($pageid,"script");
$coreUrl = Mage::getModel('core/url')->getUrl();
$currencyHelper = Mage::helper('core');
$raaHelper = Mage::helper('retail_analytics');
$imagetype = $raaHelper->getImageType();
$width = $raaHelper->getPageImageWidth($pageid);
$height = $raaHelper->getPageImageHeight($pageid);
$raacontainerstyle = $raaHelper->getRaaConfig('raacontainerstyle');
$racv = $raaHelper->getRaaConfig('racv');

?>


<?php if(count($reco_slots) && $headerBlockId != "" && $contentBlockId != "" && $scriptBlockId != ""): ?>
<div class="raa_container" style="<?php echo $raacontainerstyle ?>">
<?php foreach ($reco_slots as $slot): ?>
<?php if(count($slot['data'])): ?>
<div class="raa_carosoul_slider" style="width:100%;  margin-bottom:20px; display:inline-block; -webkit-box-sizing:border-box;	-moz-box-sizing:border-box;	box-sizing:border-box;">
   <?php 
   		$filterArray = array();
		$filterArray['raa_title']=$slot['title'];
		$filterArray['raa_pbrurl']=$slot['pbrurl'];
		echo $onsiteHelper->getStaticBlock($headerBlockId,$filterArray);		
	?>
  <div style="width:100%;  padding:0px 10px; -webkit-box-sizing:border-box;	-moz-box-sizing:border-box;	box-sizing:border-box;">
    <div class="raa_slider_wrapper" style="float:left; position:relative;  overflow: hidden;width:100%">
      <ul data-ul="releted" class="raa_slider_ul" style="position: relative; height:auto; overflow: hidden; padding:0; left:0; width: 100%;background: #ffffff;">
        <?php foreach ($slot['data'] as $product): ?>
        <?php if($product): ?>       
        <?php     
            
        	$product_url = $coreUrl.$product->getUrlPath()."?rastype=onsite&ras=".$slot['ras']; 
        	$product_url = (array_key_exists("rac",$slot))?$product_url."&rac=".$slot['rac']:$product_url; 
        	$product_url = ($racv =="" || $racv =="0")?$product_url:$product_url."&racv=".$racv;
			$product_url = $product_url."&utm_source=retailreco&utm_medium=onsite&utm_campaign=".$slot['ras'];			
			$filterArray = array();
			$filterArray['raa_cart_url'] = $this->helper('checkout/cart')->getAddUrl($product);
			$filterArray['raa_wishlist_url'] = $this->helper('wishlist')->getAddUrl($product);
			$filterArray['raa_isallow_wishlist'] = $this->helper('wishlist')->isAllow();
			$filterArray['raa_compare_url'] =  Mage::helper('catalog/product_compare')->getAddUrl($product);
			$filterArray['raa_issaleable'] =  $product->isSaleable();			
			$filterArray['raa_product_id'] = $product->getId();
			$filterArray['raa_sku']= $product->getSku();
			$filterArray['raa_product_url']= $product_url;
			$filterArray['raa_image_url']= $this->helper('catalog/image')->init($product, $imagetype)->resize($width,$height);
			$filterArray['raa_name']= $product->getName();
			$price = $product->getPrice();
			$filterArray['raa_price']= $currencyHelper->currency($price);				
			$special_price = $product->getFinalPrice();
			if(array_key_exists("offerprice",$slot)) {
				$offerarray = $slot["offerprice"][$product->getId()];
				$filterArray['raa_offer_price']= $currencyHelper->currency($offerarray["offerprice"]);
				$filterArray['raa_coupon_code']= $offerarray["couponcode"];
				$filterArray['raa_valid_to']= substr($offerarray["validto"], 0, 10);
			}
			else if($price != $special_price)
			{					
				$filterArray['raa_special_price']= $currencyHelper->currency($special_price);				
			}
			else {
				$filterArray['raa_only_price'] = $filterArray['raa_price'];
			}
			
			echo $onsiteHelper->getStaticBlock($contentBlockId,$filterArray);
        ?>
        
        
        <?php endif; ?>
        <?php endforeach; ?>
      </ul>
    </div>
  </div>
</div>
<?php endif ?>
<?php endforeach; ?>
</div>
<?php endif ?>


<script type="text/javascript">
	<?php echo $onsiteHelper->getStaticBlock($scriptBlockId,array());?>
</script>
	
<?php if($raacontainerstyle !=""): ?>	
	<script type="text/javascript">
		var raacontainerstyle =  <?php echo '"'. $raacontainerstyle.'"'; ?>;		
		if(raacontainerstyle.indexOf('visibility:hidden') > -1) {
			var raa_container = document.getElementsByClassName("raa_container");
			if(raa_container.length > 0)
			{				
				raa_container[0].style.height="auto";
				raa_container[0].style.visibility="visible";
			}
		}
	</script>
<?php endif ?>	
