<?php
/**
 * Magento
 */
?>

<?php
/**
 */
$product = $this->getProduct();
$manufacturer = $product->getAttributeText('manufacturer');
$raaHelper = Mage::helper('retail_analytics');
$raaPriceHelper = Mage::helper('retail_analytics/price');
$taxHelper = Mage::helper('tax');
$helperdata = Mage::helper('retail_analytics/data');
$width = $helperdata->getImageWidth();
$height = $helperdata->getImageHeight();
$imagetype = "small_image";
?>

<!-- Raa Product Tagging -->
<div class="raa_product" style="display:none">
    
    <span class="raa_entity_id" data-key="true"><?php echo $product->getId(); ?></span>
    <span class="raa_product_id" data-key="true"><?php echo $product->getId(); ?></span>
    <span class="raa_sku" data-key="true"><?php echo $product->getSku(); ?></span>
    <span class="raa_name"><?php echo $raaHelper->escapeHtml($product->getName()); ?></span>     
     <span class="raa_price"><?php $price = $raaPriceHelper->getFormattedPrice(
        $taxHelper->getPrice($product, $product->getPrice($product), true)
    ); echo $price; ?></span>   
     <span class="raa_special_price"><?php $special_price = $raaPriceHelper->getFormattedPrice(
        $taxHelper->getPrice($product, $raaPriceHelper->getProductFinalPrice($product), true)
    ); echo $special_price; ?></span> 
       <span class="raa_discount_percent"><?php $discountPercent = 0;
					if ($special_price != $price) {
						$discountPercent = (($price - $special_price) * 100)/$price;
					} echo $discountPercent; ?></span> 
    <span class="raa_url"><?php echo $product->getProductUrl(); ?></span> 

     <span class="raa_imageurl" ><?php echo $this->getRaaImageURL($product); ?></span>
      <span class="raa_cacheimageurl" ><?php echo (string)Mage::helper('catalog/image')->init($product, $imagetype)->resize($width,$height); ?></span>
    	   
    <span class="raa_store_currency_code"><?php echo Mage::app()->getStore()->getCurrentCurrencyCode(); ?></span> 
     <span class="raa_base_currency_code"><?php echo Mage::app()->getStore()->getBaseCurrencyCode(); ?></span> 
     <span class="raa_created_at"><?php echo $raaHelper->escapeHtml(date(now())); ?></span> 
     <span class="raa_instock"><?php echo $product->getIsInStock (); ?></span>
      <span class="raa_quantity"><?php echo $product->getStockItem ()->getQty (); ?></span>
</div>