<?php
/** 
 */

$current_directory_path = getcwd();
$current_directory_path = str_replace("\\", "\\\\", $current_directory_path);
		
?>

<form method="post" action="proccessUpload" id="frm_upload_file" enctype="multipart/form-data" onsubmit="return validateForm();">
<div style=""><div class="entry-edit">
    <div class="">
    <h4 class="icon-head head-edit-form fieldset-legend">Upload File</h4>
    <div class="form-buttons"></div>
</div>
    <div class="fieldset" style="padding: 22px;margin:0;">
    <div class="hor-scroll">
     <table cellspacing="10px"  cellpadding="10px"  style="width:100%">
        <tbody>
        	<tr>
		        <td class="label" style="vertical-align: middle;">
		        	<label>Upload</label>
		        </td>
			    <td class="value">			    	
			    	 <label for="chk_code"><input type="radio" id="chk_code" name="upload" value="" checked="checked" onchange="changeUpload(this);"  style="margin: 10px;">Code</label>
			    	 <label for="chk_template"><input type="radio" id="chk_template" name="upload" value=""  onchange="changeUpload(this);"  style="margin: 10px;">Template</label>
			    </td>
		    </tr>			
			<tr>
		        <td class="label">	
		        <label>Location:</label>		        	        	
		        </td>
			    <td class="value">
			    	<div >
			    		 <p class="note" style="height:20px;"><span id="span_code_location"> Helper| Block| Model| controllers| etc| sql </span></p>
			    	 </div> 
			    </td>
		    </tr>
		    <tr>
		        <td class="label" style="vertical-align: middle;">
		        	<label for="path">Enter Path</label>
		        </td>
			    <td class="value">
			    	 <input type="text" id="path" name="path" required="required" style="width: 100%;line-height:2em;">
			    </td>
		    </tr>
			<tr>
			<td class="label" ></td>
				<td class="value" style="padding: 10px 10px 10px 0;">
					<input type="file" class="input-file" name="fileToUpload" id="fileToUpload" required="required">
				</td>
			</tr>
			<tr>
			<td class="label"></td>
				<td class="value" style="padding: 6px 6px 6px 0;">
					<input type="submit" value="Upload" name="submit" style="padding: 5px; width: 100px;">
				</td>
			</tr>
			
            </tbody>
        </table>
            </div>
        </div>
</div>
</div>
 </form>
 
<script type="text/javascript">

var raa_uplpad_url =  <?php echo '"'. $current_directory_path.'"'; ?>;
var raa_code_path = (raa_uplpad_url.indexOf("/") > -1)?"/app/code/local/Retail/Analytics/":"\\app\\code\\local\\Retail\\Analytics\\";
var raa_template_path = (raa_uplpad_url.indexOf("/") > -1)?"/app/design/frontend/base/default/template/retail/analytics/":"\\app\\design\\frontend\\base\\default\\template\\retail\\analytics\\";

document.getElementById("path").value = raa_uplpad_url + raa_code_path;

function changeUpload(elem) {	
	if(elem.id == "chk_code")
	{		
		document.getElementById("path").value = raa_uplpad_url + raa_code_path;
		document.getElementById("span_code_location").style.display = "inline-block";
		
	}
	else if(elem.id == "chk_template")
	{		
		document.getElementById("path").value = raa_uplpad_url + raa_template_path;
		document.getElementById("span_code_location").style.display = "none";		
	}
}

function validateForm() {
	var path = document.getElementById("path").value;
	path = path.trim();	 
    if (path == null || path == "") {
        alert("Please enter upload file path.");
        return false;
    }
    
    if( document.getElementById("fileToUpload").files.length == 0 ){
    	alert("Please select upload file.");
        return false;
    }
    
   return true;
}
</script>

