<html>
<head>
<script>
function fill(Value)
{
$('#search_bar').val(Value);
$('#livesearch').hide();
}
function fill1(Value)
{
$('#search_value').val(Value);
}
$(document).ready(function(){
$("#search_bar").keyup(function() {
var search_bar = $('#search_bar').val();
if(search_bar=="")
{
$("#search_bar").html("");
$("#livesearch").hide();
}
else
{
$.ajax({
type: "POST",
url: "ajax.php",
data: "search_bar="+ search_bar ,
success: function(html){
$("#livesearch").html(html).show();
}
});
}
});
});
</script>
</head>
<body>
<form method="post" action="#">
<input id="search_bar" type="text" name="search_bar" placeholder="Search Category">
<input type="hidden" name="livesearch" id="search_value" value="">
<div id="livesearch">
</div>
<input id="btn" type="submit" name="submit" value="ADD">
</form>
</body>
</html>

<?php 
if(!mysql_connect("localhost","root",""))
{
	die('oops connection problem ! --> '.mysql_error());
}
if(!mysql_select_db("db_enter"))
{
	die('oops database selection problem ! --> '.mysql_error());
}

if(isset($_POST['submit']))
{
$sql = "Select * from es_status where cat_id='".$_POST['livesearch']."'";
 if(!mysql_query( $sql))
   {
      echo mysql_error();
   }
	  $result = mysql_query($sql);
       $count = mysql_num_rows($result);
       if($count>0){
     echo "<script>alert('Category already added!!')</script>";
       }else{
$sql = "Insert into es_status(cat_id,name,status) VALUES ('".$_POST['livesearch']."','".$_POST['search_bar']."',1)";
if(!mysql_query( $sql))
   {
      echo mysql_error();	  
   }
   
}
}
$sql1="Select * from es_status";
if(!mysql_query( $sql1))
   {
      echo mysql_error();
   }
	  $result1 = mysql_query($sql1);
       $count1 = mysql_num_rows($result1);
       if($count1>0){
	   echo "<table id='tab_style'>
          <tr> 
          <th>Id</th>
          <th>Name</th>
          <th>Option</th>
         </tr>";
		 while($result2 = mysql_fetch_array($result1))
		 {
		echo "<tr>";
        echo "<td>".$result2['cat_id']."</td>";  
        echo "<td>".$result2['name']."</td>";
        echo "<td><a href='search.php?id=".$result2['cat_id']."'><input type='button' name='delete' value='Delete'></a></td>";
		echo "</tr>";
		 }
		 echo "</table>";
       }
	   else{  
	  echo "<script>alert('No Category found!!')</script>";
	   }
	   
	   if(isset($_GET['id']))
	   {
	$sql="DELETE FROM es_status where cat_id=".$_GET['id'];
	if(mysql_query($sql))
	{
	header("Location: search.php?msg=msg");
	}
	   }
	   if(isset($_GET['msg']))
	   {
	   echo "<script>alert('Category Removed Successfully!!')</script>";
	   }
?>

<style>
table{
border-collapse: collapse;
width: 1024px;
border:3px solid black;
margin:144px;
float:left;
}
tr:nth-child(even){background-color: #f2f2f2};
th, td {
    text-align: left;
    padding: 8px;
}
#livesearch{
display:none;
color:black;
height: 233px;
    width: 420px;
    border: 1px solid black;
    float: left;
    position: inherit;
    margin: 97px 0px 0 -423px;
}
#search_bar{
    float: left;
    text-transform: capitalize;
    font-size: 41px;
    font-weight: bold;
    background-color: black;
    color: white;
    height: 50px;
    width: 500px;
    margin: 48px 0px 0px 436px;
}
#btn{
    float: left;
    margin: 47px 0 0 17px;
    padding: 11px;
    background-color: blue;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

</style>