
<div class="footer-container footer-color color">
 <div class="block-footer-top">
        <div class="container">
            <div class="main">
                <div class="footer">
                    <?php echo $this->getChildHtml('block_footer_top') ?>
                 </div>
            </div>
        </div>
    </div>
    <div class="block-footer-bottom">
        <div class="container">
		    <div class="main">
				<div class="footer">
					 <?php echo $this->getChildHtml('block_footer_bottom') ?>
				</div>
			</div>
        </div>
    </div>
    <div class="block-footer-copyright">
        <div class="container">
            <div class="footer">
			    <div class="main">
					<div class="row">
                         <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('footer_links_company')->toHtml(); ?>
						 
                         <address><?php echo $this->getCopyright() ?></address>
						 
					</div>
				</div>
            </div>
        </div>
    </div>
    <a href="#" id="backtotop"><span class="fa fa-angle-up"></span><span class="back-to-top"><?php echo $this->__('Back to Top')?></span></a>
</div>
<script type="text/javascript">
  (function () { 
    var _tsid = 'X68D2CE1DDF435B506F8C70F42B487BFA'; 
    _tsConfig = { 
      'yOffset': '0', /* offset from page bottom */
      'variant': 'reviews', /* text, default, small, reviews, custom, custom_reviews */
      'customElementId': '', /* required for variants custom and custom_reviews */
      'trustcardDirection': '', /* for custom variants: topRight, topLeft, bottomRight, bottomLeft */
      'customBadgeWidth': '', /* for custom variants: 40 - 90 (in pixels) */
      'customBadgeHeight': '', /* for custom variants: 40 - 90 (in pixels) */
      'disableResponsive': 'false', /* deactivate responsive behaviour */
      'disableTrustbadge': 'false', /* deactivate trustbadge */
      'trustCardTrigger': 'mouseenter' /* set to 'click' if you want the trustcard to be opened on click instead */
    };
    var _ts = document.createElement('script');
    _ts.type = 'text/javascript'; 
    _ts.charset = 'utf-8'; 
    _ts.async = true; 
    _ts.src = '//widgets.trustedshops.com/js/' + _tsid + '.js'; 
    var __ts = document.getElementsByTagName('script')[0];
    __ts.parentNode.insertBefore(_ts, __ts);
  })();
</script>
