
<meta http-equiv="Content-Type" content="<?php echo $this->getContentType() ?>" />
<title><?php echo $this->getTitle() ?></title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content="<?php echo htmlspecialchars($this->getDescription()) ?>" />
<meta name="keywords" content="<?php echo htmlspecialchars($this->getKeywords()) ?>" />
<meta name="robots" content="<?php echo htmlspecialchars($this->getRobots()) ?>" />

<link rel="icon" href="<?php echo Mage::getBaseUrl('media') . "favicon.png"; ?>" type="image/x-icon" />
<link rel="shortcut icon" href="<?php echo Mage::getBaseUrl('media') . "favicon.png"; ?>" type="image/x-icon" />
<!--Start of Connecto Script-->
<script type="text/javascript">
var _TConnecto = _TConnecto || {'licenseKey': 'TL4BM5RSRGA258CY'};
(function() {
  var con = document.createElement('script'); con.type = 'text/javascript';
  var host = (document.location.protocol === 'http:') ? 'http://cdn' : 'https://server';
  con.src = host + '.connecto.io/javascripts/connect.prod.min.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(con, s);
})();
</script>
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'> 
<?php echo $this->getCssJsHtml() ?>
<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('css/responsive.css'); ?>" media="all" />
<?php echo $this->getChildHtml() ?>
<?php echo $this->helper('core/js')->getTranslatorScript() ?>
<?php echo $this->getIncludes() ?>
