
<div class="header-container header-color color">
	<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('header-offer')->toHtml(); ?>
    <div class="header_full">
    	<div class="header">
    	    <div class="header-top">
    	    	<div class="container">
				    <div class="row">
				    	<div class="top-left col-md-6 col-sm-6 col-xs-12">
					    	<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('hotline')->toHtml(); ?>
					    	<div class="header-setting">
						    	<div class="settting-switcher">
									<div class="dropdown-toggle">
									    <div class="text-setting"><?php echo Mage::app()->getStore()->getCurrentCurrencyCode(); ?></div>
									</div>
									<?php $currencyHtml = $this->getChildHtml('currency');?>
									<?php if($currencyHtml): ?>
								    <div class="dropdown-switcher">
								    	<div class="currency_top"><?php echo $currencyHtml ?></div>
									</div>
									<?php endif ?>
							    </div>
						    </div>
						    <div class="header-setting">
						    	<div class="settting-switcher">
							    	<div class="top-form-language">
										<?php echo $this->getChildHtml('store_language') ?>
									</div>
							    </div>
						    </div>
					        
				    	</div>
				    	<div class="top-right col-md-6 col-sm-6 col-xs-12">
				    		<div class="header-setting">
								<div class="settting-switcher">
								    <div class="dropdown-toggle">
										<div class="text-setting"><?php 
if(Mage::getSingleton('customer/session')->isLoggedIn()){
echo 'My Account';
    }else{
       echo 'Log In / Register';
    }
									?></div>
									</div>
									<div class="dropdown-switcher">
										<div class="top-links-alo">
									    	<div class="header-top-link">
												<?php echo $this->getChildHtml('topLinks') ?>
											</div>
								        </div>
									</div>
								</div>
								<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('support')->toHtml(); ?>
							</div>
				    	</div>
				    </div>
				</div>
    	    </div>
    	    <div class="header-content">
    	    	<div class="container">
				    <div class="row">
				    	<div class="content-logo col-md-3 col-sm-3 col-xs-12">
				    		<div class="header-logo">
								 <?php if ($this->getIsHomePage()):?>
									<h1 class="logo">
										<strong><?php echo $this->getLogoAlt() ?></strong><a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo1"><img class="img-responsive" src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" /></a>
									</h1>
								<?php else:?>
									<a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><strong><?php echo $this->getLogoAlt() ?></strong><img class="img-responsive" src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" /></a>
								<?php endif?>
							</div>
				    	</div>
				    	<div class="content-seach col-md-7 col-sm-7 col-xs-12">
				    		<div class="header-search">
								<?php echo $this->getChildHtml('topSearch') ?>
							</div>
				    	</div>
				    	
				    	<div class="content-cart col-md-2 col-sm-5 col-xs-12">
				    		<div class="miniCartWrap">
								<?php echo $this->getChildHtml('ajaxcart'); ?>
							</div>
				    	</div>
				    </div>
				</div>
    	    </div>
		   <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('quick-nav')->toHtml(); ?>	
            <div class="header-bottom">
                <div class="header-sticker">
					<div class="container">                        
					    <div class="border-bottom menu-mobile">
						    <div class="row menu-mobile-none">
								<div class="header-config-bg col-xs-12 col-sm-12 col-md-12">
									<div class="header-wrapper-bottom">
										<div class="custom-menu">
											<?php echo $this->getChildHtml('topMenu') ?>
										</div>
									</div>
								</div>
							</div>
							<div class="header-setting header-setting-icon">
								<div class="settting-switcher">
								    <div class="dropdown-toggle">
										<div class="text-setting"><?php echo $this->__('Links'); ?></div>
									</div>
									<div class="dropdown-switcher">
										<div class="top-links-alo">
									    	<div class="header-top-link">
												<?php echo $this->getChildHtml('topLinks') ?>
											</div>
								        </div>
									</div>
								</div>
							</div>
							<!-- CART ICON ON MMENU -->
				            <div class="shopping-cart-box-ontop">
				                <div class="miniCartWrap shopping-cart-box-ontop-content">
									<?php echo $this->getChildHtml('ajaxcart'); ?>
				                </div>
				            </div>
						</div>
					</div>
				</div>
            </div>
    	</div>
    </div>
        <?php echo $this->getChildHtml('topContainer'); ?>
</div>

